# <span style="color:red">EXERCICE 1</span>

# <span style="color:blue">ÉTAPE 1: CHARGER LES DONNÉES DANS VOTRE NOTEBOOK</span>

# Charger les 5 data frame

In [416]:
import numpy as nf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [417]:
df_series= pd.read_csv('EdStatsCountry-Series.csv')
df_country=pd.read_csv('EdStatsCountry.csv')
df_data= pd.read_csv('EdStatsData.csv')
df_foot= pd.read_csv('EdStatsFootNote.csv')
df_stat_series= pd.read_csv('EdStatsSeries.csv')

# Visualiser dans un Jupyter Notebook les premières lignes des cinq fichiers en utilisant Pandas

In [418]:
df_series.head()

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population Prospects,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population Prospects,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population Prospects,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population Prospects,NaN

In [419]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period for national accounts data: FY (from 2013 are CY). National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2002.",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [420]:
df_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [421]:
df_foot.head()

  CountryCode      SeriesCode    Year          DESCRIPTION  Unnamed: 4
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.         NaN
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.         NaN
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.         NaN
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.         NaN
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.         NaN

In [422]:
df_stat_series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:blue">ÉTAPE 2: COLLECTER LES INFOS BASIQUES SUR CHAQUE JEUX DE DONNÉES</span>

## 1)Définir ce que représente une ligne: Calculez le nombre de lignes et de colonnes
## 2) Calculez le nombre de doublons dans le jeu de données.
## 3) Supprimez les doublons s’il y en a.
## 4) Calculez la proportion de valeurs manquantes par colonne.
## 5) Supprimez les colonnes inutilisables.
## 6) Pour les colonnes numériques : calculez les statistiques descriptives basiques en utilisant describe().
## 7) Pour les colonnes catégorielles : calculez le nombre d'occurrences de chaque valeur possible de la colonne.

### <span style="color:violet"> DATA FRAME SERIES</span>

In [423]:
df_series.columns

Index(['CountryCode', 'SeriesCode', 'DESCRIPTION', 'Unnamed: 3'], dtype='object')

In [424]:
df_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [425]:
df_foot.columns

Index(['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4'], dtype='object')

In [426]:
df_stat_series.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [427]:
print(df_series.shape)

(613, 4)

In [428]:
print(df_series.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 19.3+ KB
None

### <span style="color:pink"> Le DF Series contient 613 lignes qui sont numéroté de 0 à 612 et 4 colonnes </span>

### <span style="color:pink"> Object(3): Signifie dire que les 3 premières colonnes contiennent 613 valeurs qui sont non null, soit pas vides avec du texte ou chaine de caractères </span>
### <span style="color:pink"> Dtypes: float64(1): Signifie que la colonne 'unnamed' peux contenir des valeurs décimales mais qu'elle est vide: je choisi de la supprimer tout de suite, ainsi que les descriptions qui me sont d'aucune utilité pour le projet </span>

In [429]:
df_series = df_series.drop(columns=['Unnamed: 3'])
df_series = df_series.drop(columns=['DESCRIPTION'])

In [430]:
df_series.head()

  CountryCode         SeriesCode
0         ABW        SP.POP.TOTL
1         ABW        SP.POP.GROW
2         AFG        SP.POP.GROW
3         AFG  NY.GDP.PCAP.PP.CD
4         AFG        SP.POP.TOTL

In [431]:
print(df_series.describe(include='object'))

       CountryCode   SeriesCode
count          613          613
unique         211           21
top            MDA  SP.POP.TOTL
freq            18          211

### <span style="color:pink"> Pour COUNT: Signifie qu'il y a 613 lignes dans chacune des deux colonnes CountryCode et SeriesCode </span>
### <span style="color:pink"> Pour UNIQUE : CountryCode: il y a 211 valeurs différentes, donc 211 pays ou zones distincts, SeriesCode: il y a 21 indicateurs différents </span>
### <span style="color:pink"> Pour TOP: CountryCode: La valeur la plus fréquente est : MDA (Pays Moldavie) et SeriesCode: SP.POP.TOTL, représente la statistique population totale </span>
### <span style="color:pink"> FREQ: signifie que → Le code pays MDA apparaît 18 fois, et SP.POP.TOTL apparaît 211 fois, j'imagine 1 ligne par pays car 211 Country Code </span>
### <span style="color:pink"> Je conclue qu'il me manque les indicateurs statistiques chiffrés dans ce DF, tous ceux listés dans SeriesCode (PIB, POP TOTAL, GROW CROISSANCE etc.)

In [432]:
doublons = df_series.duplicated().sum()
print("Nombre de doublons :", doublons)

Nombre de doublons : 0

In [433]:
doublons_colonnes = df_series.duplicated(subset=['CountryCode', 'SeriesCode']).sum()
print("Nombre de doublons colonne Country et Series :", doublons)

Nombre de doublons colonne Country et Series : 0

### <span style="color:pink"> J'ai fait 2 codes, 1 pour trouver des lignes identiques sur toutes les colonnes et 1 autre avec SUBSET, pour savoir si la combinaison CountryCode + SeriesCode est unique, résultat il n'y a pas de doublons je ne supprime plus rien pour ce DF </span>

In [434]:
total_valeurs_manquantes = df_series.isnull().sum().sum()
print("Total de valeurs manquantes :", total_valeurs_manquantes)

Total de valeurs manquantes : 0

### <span style="color:pink"> Il n'y a pas de valeurs manquantes sur ce DF </span>

In [435]:
occurrences_df_series_SeriesCode = df_series['SeriesCode'].value_counts()
print(occurrences_df_series_SeriesCode)

SeriesCode
SP.POP.TOTL          211
SP.POP.GROW          211
NY.GDP.PCAP.PP.CD     19
NY.GDP.PCAP.PP.KD     19
NY.GNP.PCAP.PP.CD     19
NY.GDP.MKTP.PP.KD     14
NY.GNP.MKTP.PP.CD     14
NY.GDP.MKTP.PP.CD     14
SP.POP.0014.TO.ZS     13
SP.POP.TOTL.FE.ZS     13
SP.POP.TOTL.MA.ZS     13
SP.POP.1564.TO.ZS     13
NY.GNP.PCAP.CD         6
NY.GDP.PCAP.CD         5
NY.GDP.PCAP.KD         5
SP.POP.1564.MA.IN      4
SP.POP.0014.TO         4
SP.POP.1564.TO         4
SP.POP.1564.FE.IN      4
SP.POP.0014.MA.IN      4
SP.POP.0014.FE.IN      4
Name: count, dtype: int64

In [436]:
occurrences_df_series_CountryCode = df_series['CountryCode'].value_counts()
print(occurrences_df_series_CountryCode)

CountryCode
MDA    18
GEO    18
CYP    12
SRB    12
MUS    12
       ..
GRL     2
GTM     2
GUM     2
HKG     2
ZWE     2
Name: count, Length: 211, dtype: int64

### <span style="color:pink"> J'ai compté le nombre d'occurence d'indicateurs pour la colonne Series et les nombres d'occurence de pays de la colonne Country </span>

### <span style="color:violet"> DATA FRAME COUNTRY</span>

In [437]:
df_country.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

In [438]:
print(df_country.shape)

(241, 32)

In [439]:
print(df_country.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 60.4+ KB
None

### <span style="color:pink"> Le DF Country contient 241 lignes qui sont numéroté de 0 à 240 et 32 colonnes </span>
### <span style="color:pink"> Object(28): Signifie que 28 colonnes contiennent du texte ou chaine de caractères </span>
### <span style="color:pink">float64(4)Signifie que 4 colonnes contiennent des chiffres décimales </span>
### <span style="color:pink"> On remarque que la colonne'unnamed'est vide: je choisi de la supprimer tout de suite</span>

In [440]:
df_country = df_country.drop(columns=['Unnamed: 31'])

In [441]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period for national accounts data: FY (from 2013 are CY). National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data, national accounts data were revised for 2000 onward; the base year changed to 2002.",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population figures compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [442]:
df_country = df_country.drop(columns=['Special Notes'])

### <span style="color:pink"> Je supprime speciale note qui ne m'est pas utile</span>

In [443]:
print(df_country.describe(include='object'))

       Country Code Short Name Table Name Long Name 2-alpha code  \
count           241        241        241       241          238
unique          241        241        241       241          238
top             ABW      Aruba      Aruba     Aruba           AW
freq              1          1          1         1            1

       Currency Unit                 Region         Income Group WB-2 code  \
count            215                    214                  214       240
unique           152                      7                    5       240
top             Euro  Europe & Central Asia  Upper middle income        AW
freq              23                     57                   55         1

       National accounts base year  ... External debt Reporting status  \
count                          205  ...                            124
unique                          43  ...                              3
top                           2005  ...                         Actual
freq                            34  ...                            107

             System of trade    Government Accounting concept  \
count                    200                              161
unique                     2                                2
top     General trade system  Consolidated central government
freq                     106                               95

                 IMF data dissemination standard Latest population census  \
count                                        181                      213
unique                                         2                       27
top     General Data Dissemination System (GDDS)                     2011
freq                                         110                       59

                Latest household survey  \
count                               141
unique                               60
top     World Health Survey (WHS), 2003
freq                                 10

       Source of most recent Income and expenditure data  \
count                                                160
unique                                                75
top              Integrated household survey (IHS), 2012
freq                                                  15

       Vital registration complete Latest agricultural census  \
count                          111                        142
unique                           2                         35
top                            Yes                       2010
freq                           110                         36

       Latest water withdrawal data
count                           179
unique                           20
top                            2000
freq                             40

[4 rows x 27 columns]

### <span style="color:pink"> J'utilise ce code pour décrire les donnnés 'object'</span>
### <span style="color:pink"> Il y a 241 pays différents comme dans la DF Series</span>
### <span style="color:pink"> Chaque ligne correspond bien à 1 seul pays car la fréquence max est 1 pour tous les champs</span>
### <span style="color:pink"> 2-alpha code: 238 valeurs sur 241: 3 doublons ou 3 valeurs manquantes</span>
### <span style="color:pink"> Il y a 215 monnaie,152 monnaies uniques référencés manque 26 devises</span>
### <span style="color:pink"> La monnai la plus fréquente est l'euro 26 fois présente</span>
### <span style="color:pink"> On a 214 région sur 241 pays, dont 7 différentes j'en conclue que les pays sont situé sur de grosses zones géographiques</span>
### <span style="color:pink"> La région la plus courante est Europe & Central Asia mentionné 57 fois</span>
### <span style="color:pink">214 revenus au total, classés en 7 catégories pour les 241 pays,les catégories sont Low, Lower middle, Upper middle, High income OECD, High income non-OECD</span>
### <span style="color:pink">Upper middle income soit revenue moyen supérieur est le groupe le plus présent 55X</span>
### <span style="color:pink">Pour l'année des comptes nationaux, on a 205 lignes d'années, 43 années différentes, la plus présente est 2005 34 fois</span>
### <span style="color:pink">Statut de déclaration de la dette extérieur 124 au totale 3 catégorie, le plus présent est Actuel présent 107X 200 systèmes commerciales au global, classé en 2 catégories, la plus présente général trade system présente 106X</span>
### <span style="color:pink">Apres on a des renseignements sur le concept de comptabilité commerciale gouv 2 catégories</span>
### <span style="color:pink">On a des infos sur les norme de diffusion des données du FMI, 2 présents, le générale est plus présent</span>
### <span style="color:pink">On a des infos sur le dernier recensement des donnés, présent pour 213 pays 28 manquants, l'année 2011 est la plus présente 59 pays</span>
### <span style="color:pink">On a des infos sur la dernière enquete des ménages, 60 types d'enquêtes</span>
### <span style="color:pink">On a des infos sur une étude effectué sur les revenus et les dépenses, renseigné pour 160 pays, 75 études, celle auprès des ménages est la plus présente X15</span>
### <span style="color:pink">Autres infos, sur l'enregistrement de l'état civil, 110 l'on fait sur 111 enregistré</span>
### <span style="color:pink">Autres infos, sur l'enregistrement de l'agriculture 142 enregistré</span>
### <span style="color:pink">Autres infos, sur le retrait d'eau 179 renseignés</span>

In [444]:
print(df_country['Income Group'].value_counts())

Income Group
Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: count, dtype: int64

### <span style="color:pink"> Juste par curiosité je me suis dit qu'il serai intéressant de connaitre le groupe de revenu auquel appartien chaque pays</span>
### <span style="color:pink"> On avait vu avant que le plus présent était Upper middle income dans 55 pays</span>

In [445]:
print(df_country.describe())

       National accounts reference year  Latest industrial data  \
count                          32.00000              107.000000
mean                         2001.53125             2008.102804
std                             5.24856                2.616834
min                          1987.00000             2000.000000
25%                          1996.75000             2007.500000
50%                          2002.00000             2009.000000
75%                          2005.00000             2010.000000
max                          2012.00000             2010.000000

       Latest trade data
count         185.000000
mean         2010.994595
std             2.569675
min          1995.000000
25%          2011.000000
50%          2012.000000
75%          2012.000000
max          2012.000000

### <span style="color:pink"> Je descrit pour les donnnés numériques et les objets</span>
### <span style="color:pink"> Il y a 3 infos: </span>
### <span style="color:pink"> Sur l'année de références des comptes nationaux, 32 pays sont renseignés,l'année la plus ancienne 1987 et plus récente 2012</span>
### <span style="color:pink"> Sur les dernières données de l'industrie: 107 sont renseigné,l'année la plus ancienne 2000, plus récente 2010</span>
### <span style="color:pink"> Sur les dernières donnés lié au commerce: 185 sont renseignés, l'année la plus ancienne 1995 et plus récente 2012</span>
### <span style="color:pink"> J'en conclue que les donnés ne sont pas très a jour </span>

In [446]:
occurrences_df_country = df_country['Country Code'].value_counts()
print(occurrences_df_country)

Country Code
ABW    1
LCA    1
MRT    1
MUS    1
MWI    1
      ..
GRL    1
GTM    1
GUM    1
GUY    1
ZWE    1
Name: count, Length: 241, dtype: int64

In [447]:
occurrences_df_country = df_country['Currency Unit'].value_counts()
print(occurrences_df_country)

Currency Unit
Euro                     23
CFA franc                14
U.S. dollar              14
East Caribbean dollar     6
Danish krone              3
                         ..
Georgian lari             1
Fijian dollar             1
Ethiopian birr            1
Eritrean nakfa            1
New Zambian kwacha        1
Name: count, Length: 152, dtype: int64

In [448]:
occurrences_df_country = df_country['Region'].value_counts()
print(occurrences_df_country)

Region
Europe & Central Asia         57
Sub-Saharan Africa            48
Latin America & Caribbean     41
East Asia & Pacific           36
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: count, dtype: int64

In [449]:
occurrences_df_country = df_country['Income Group'].value_counts()
print(occurrences_df_country)

Income Group
Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: count, dtype: int64

### <span style="color:pink"> J'ai compté le nombre d'occurence d'indicateurs intéressant peut être pour la suite </span>
### <span style="color:pink">Country Code, Income Group, Region, Currency Unit, Country Code</span>

In [450]:
doublons = df_country.duplicated().sum()
print("Nombre de doublons :", doublons)

Nombre de doublons : 0

### <span style="color:pink">Il n'y a pas de doublons sur ce DF</span>

In [451]:
total_valeurs_manquantes = df_country.isnull().sum().sum()
print("Total de valeurs manquantes :", total_valeurs_manquantes)

Total de valeurs manquantes : 2017

In [452]:
missing = df_country.isnull().sum()
missing = missing[missing > 0]
print(missing)

2-alpha code                                           3
Currency Unit                                         26
Region                                                27
Income Group                                          27
WB-2 code                                              1
National accounts base year                           36
National accounts reference year                     209
SNA price valuation                                   44
Lending category                                      97
Other groups                                         183
System of National Accounts                           26
Alternative conversion factor                        194
PPP survey year                                       96
Balance of Payments Manual in use                     60
External debt Reporting status                       117
System of trade                                       41
Government Accounting concept                         80
IMF data dissemination standard                       60
Latest population census                              28
Latest household survey                              100
Source of most recent Income and expenditure data     81
Vital registration complete                          130
Latest agricultural census                            99
Latest industrial data                               134
Latest trade data                                     56
Latest water withdrawal data                          62
dtype: int64

### <span style="color:pink">Il y a 2017 valeurs manquantes sur mon DF Country, répartis dans ces colonnes</span>

In [453]:
total_rows = len(df_country)

missing_counts = df_country.isnull().sum()

for col, missing in missing_counts.items():
    if missing > 0:
        print(f"{col} : {missing} valeurs manquantes sur {total_rows} lignes → soit {round((missing/total_rows)*100, 2)} %")

2-alpha code : 3 valeurs manquantes sur 241 lignes → soit 1.24 %
Currency Unit : 26 valeurs manquantes sur 241 lignes → soit 10.79 %
Region : 27 valeurs manquantes sur 241 lignes → soit 11.2 %
Income Group : 27 valeurs manquantes sur 241 lignes → soit 11.2 %
WB-2 code : 1 valeurs manquantes sur 241 lignes → soit 0.41 %
National accounts base year : 36 valeurs manquantes sur 241 lignes → soit 14.94 %
National accounts reference year : 209 valeurs manquantes sur 241 lignes → soit 86.72 %
SNA price valuation : 44 valeurs manquantes sur 241 lignes → soit 18.26 %
Lending category : 97 valeurs manquantes sur 241 lignes → soit 40.25 %
Other groups : 183 valeurs manquantes sur 241 lignes → soit 75.93 %
System of National Accounts : 26 valeurs manquantes sur 241 lignes → soit 10.79 %
Alternative conversion factor : 194 valeurs manquantes sur 241 lignes → soit 80.5 %
PPP survey year : 96 valeurs manquantes sur 241 lignes → soit 39.83 %
Balance of Payments Manual in use : 60 valeurs manquantes sur 241 lignes → soit 24.9 %
External debt Reporting status : 117 valeurs manquantes sur 241 lignes → soit 48.55 %
System of trade : 41 valeurs manquantes sur 241 lignes → soit 17.01 %
Government Accounting concept : 80 valeurs manquantes sur 241 lignes → soit 33.2 %
IMF data dissemination standard : 60 valeurs manquantes sur 241 lignes → soit 24.9 %
Latest population census : 28 valeurs manquantes sur 241 lignes → soit 11.62 %
Latest household survey : 100 valeurs manquantes sur 241 lignes → soit 41.49 %
Source of most recent Income and expenditure data : 81 valeurs manquantes sur 241 lignes → soit 33.61 %
Vital registration complete : 130 valeurs manquantes sur 241 lignes → soit 53.94 %
Latest agricultural census : 99 valeurs manquantes sur 241 lignes → soit 41.08 %
Latest industrial data : 134 valeurs manquantes sur 241 lignes → soit 55.6 %
Latest trade data : 56 valeurs manquantes sur 241 lignes → soit 23.24 %
Latest water withdrawal data : 62 valeurs manquantes sur 241 lignes → soit 25.73 %

In [454]:
df_nan= pd.DataFrame(df_country.isna().mean()).reset_index()

In [455]:
df_nan.sort_values(by= 0, ascending= False)

                                                index         0
10                   National accounts reference year  0.867220
15                      Alternative conversion factor  0.804979
13                                       Other groups  0.759336
27                             Latest industrial data  0.556017
25                        Vital registration complete  0.539419
18                     External debt Reporting status  0.485477
23                            Latest household survey  0.414938
26                         Latest agricultural census  0.410788
12                                   Lending category  0.402490
16                                    PPP survey year  0.398340
24  Source of most recent Income and expenditure data  0.336100
20                      Government Accounting concept  0.331950
29                       Latest water withdrawal data  0.257261
21                    IMF data dissemination standard  0.248963
17                  Balance of Payments Manual in use  0.248963
28                                  Latest trade data  0.232365
11                                SNA price valuation  0.182573
19                                    System of trade  0.170124
9                         National accounts base year  0.149378
22                           Latest population census  0.116183
7                                        Income Group  0.112033
6                                              Region  0.112033
14                        System of National Accounts  0.107884
5                                       Currency Unit  0.107884
4                                        2-alpha code  0.012448
8                                           WB-2 code  0.004149
3                                           Long Name  0.000000
2                                          Table Name  0.000000
1                                          Short Name  0.000000
0                                        Country Code  0.000000

### <span style="color:pink">Je cherche a savoir le nombre de valeurs manquantes par rapport au totale de ligne pour pouvoir faire une analyse</span>
### <span style="color:pink">Le plus grosses lacunes de valeurs manquante se situent sur les 4 colonnes: </span>
### <span style="color:pink">National accounts reference year : 209 valeurs manquantes sur 241 lignes → soit 86.72 %</span>
### <span style="color:pink">Other groups : 183 valeurs manquantes sur 241 lignes → soit 75.93 %</span>
### <span style="color:pink">Alternative conversion factor : 194 valeurs manquantes sur 241 lignes → soit 80.5 %</span>
### <span style="color:pink">En analyse, je me dit que peux êtres ces donnés la ne seront pas exploitable car trop de vide pas assez de donnés?</span>

### <span style="color:violet"> DATA FRAME 'DATA'</span>

In [456]:
df_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [457]:
print(df_data.shape)

(886930, 70)

In [458]:
print(df_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB
None

### <span style="color:pink"> Le DF Data contient 886 930 lignes qui sont numéroté de 0 à 886 929 et 70 colonnes </span>
### <span style="color:pink"> 4 colonnes contiennent du texte ou chaine de caractères </span>
### <span style="color:pink"> 66 colonnes contiennent des chiffres décimales </span>
### <span style="color:pink"> On remarque que la colonne'unnamed'est vide: je choisi de la supprimer tout de suite</span>

In [459]:
df_data = df_data.drop(columns=['Unnamed: 69'])

In [460]:
df_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [461]:
print(df_data.describe(include='object'))

       Country Name Country Code  \
count        886930       886930
unique          242          242
top      Arab World          ARB
freq           3665         3665

                                                      Indicator Name  \
count                                                         886930
unique                                                          3665
top     Adjusted net enrolment rate, lower secondary, both sexes (%)
freq                                                             242

       Indicator Code
count          886930
unique           3665
top        UIS.NERA.2
freq              242

### <span style="color:pink"> Dans ce DF, il n'y a que 4 colonnes qui contiennent du texte ou chaine de caractères </span>
### <span style="color:pink">La colonne Country Name et Code, contiennt 886 930 lignes, dont 242 uniques: les différents noms de pays</span>
### <span style="color:pink">Le nom de pays le plus fréquent est Arab Word présent 3 665X, jeu de données assez complet</span>
### <span style="color:pink">La colonne indicator Name et Code contiennt elles 2, 886930 lignes dont 3665 indicateurs différents</span>
### <span style="color:pink">L'indicateur le plus présent est Taux net ajusté de scolarisation, premier cycle du secondaire, les deux sexes 242 fois en proportion</span>

In [462]:
print(df_data.describe())

               1970          1971          1972          1973          1974  \
count  7.228800e+04  3.553700e+04  3.561900e+04  3.554500e+04  3.573000e+04
mean   1.974772e+09  4.253638e+09  4.592365e+09  5.105006e+09  5.401493e+09
std    1.211687e+11  1.804814e+11  1.914083e+11  2.059170e+11  2.112150e+11
min   -1.435564e+00 -1.594625e+00 -3.056522e+00 -4.032582e+00 -4.213563e+00
25%    8.900000e-01  8.853210e+00  9.240920e+00  9.595200e+00  9.861595e+00
50%    6.317724e+00  6.316240e+01  6.655139e+01  6.969595e+01  7.087760e+01
75%    6.251250e+01  5.655200e+04  5.863650e+04  6.202900e+04  6.383675e+04
max    1.903929e+13  1.986457e+13  2.100916e+13  2.238367e+13  2.282991e+13

               1975          1976          1977          1978          1979  \
count  8.730600e+04  3.748300e+04  3.757400e+04  3.757600e+04  3.680900e+04
mean   2.314288e+09  5.731808e+09  6.124437e+09  6.671489e+09  7.436724e+09
std    1.375059e+11  2.215546e+11  2.325489e+11  2.473986e+11  2.660957e+11
min   -3.658569e+00 -2.950945e+00 -3.174870e+00 -3.558749e+00 -2.973612e+00
25%    1.400000e+00  9.312615e+00  9.519913e+00  1.000000e+01  1.000000e+01
50%    9.677420e+00  7.101590e+01  7.133326e+01  7.290512e+01  7.510173e+01
75%    7.854163e+01  5.682800e+04  5.739175e+04  5.940425e+04  6.411500e+04
max    2.300634e+13  2.424128e+13  2.521383e+13  2.622101e+13  2.730873e+13

       ...          2055          2060          2065          2070  \
count  ...  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   ...  7.145788e+02  7.224868e+02  7.271290e+02  7.283779e+02
std    ...  2.136851e+04  2.215845e+04  2.287990e+04  2.352338e+04
min    ... -1.830000e+00 -1.630000e+00 -1.440000e+00 -1.260000e+00
25%    ...  3.000000e-02  3.000000e-02  3.000000e-02  2.000000e-02
50%    ...  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    ...  7.500000e+00  7.505000e+00  7.500000e+00  7.300000e+00
max    ...  2.813670e+06  2.951569e+06  3.070879e+06  3.169711e+06

               2075          2080          2085          2090          2095  \
count  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04  5.143600e+04
mean   7.266484e+02  7.228327e+02  7.176899e+02  7.113072e+02  7.034274e+02
std    2.408149e+04  2.455897e+04  2.496587e+04  2.530183e+04  2.556069e+04
min   -1.090000e+00 -9.200000e-01 -7.800000e-01 -6.500000e-01 -5.500000e-01
25%    2.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02  1.000000e-02
50%    2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01  2.300000e-01
75%    7.100000e+00  6.722500e+00  6.080000e+00  5.462500e+00  4.680000e+00
max    3.246239e+06  3.301586e+06  3.337871e+06  3.354746e+06  3.351887e+06

               2100
count  5.143600e+04
mean   6.940296e+02
std    2.574189e+04
min   -4.500000e-01
25%    1.000000e-02
50%    2.200000e-01
75%    4.032500e+00
max    3.330484e+06

[8 rows x 65 columns]

### <span style="color:pink"> Croissance énorme des valeurs moyennes jusqu’aux années 1980 puis baisse, reprise et stabilisation jusqu'a 2100 </span>
### <span style="color:pink">Présence de valeurs aberrantes, valeurs minimales négatives: -4.21 en 1974, -3.65 en 1975, alors que la plupart des indicateurs comme la scolarisation ou la population ne devraient jamais être négatifs</span>
### <span style="color:pink">Chute de la moyenne après 2000, à partir de 2055, les moyennes deviennent très faibles, alors qu'on avait des milliards auparavant</span>
### <span style="color:pink">2095 sont des prévisions/projections?</span>

In [463]:
doublons = df_data.duplicated().sum()
print("Nombre de doublons :", doublons)

Nombre de doublons : 0

### <span style="color:pink"> Pas de doublons dans ce DF  </span>

In [464]:
total_manquantes = df_data.isnull().sum().sum()
print("Total de valeurs manquantes :", total_manquantes)

Total de valeurs manquantes : 52568249

In [465]:
missing = df_data.isnull().sum()
missing = missing[missing > 0]
print(missing)

1970    814642
1971    851393
1972    851311
1973    851385
1974    851200
         ...
2080    835494
2085    835494
2090    835494
2095    835494
2100    835494
Length: 65, dtype: int64

### <span style="color:pink"> Il y a 52568249 valeurs manquante dans ce DF, le plus est l'année 1971, trop de valeurs manquantes signifie que les donnés ne sont peut être pas exploitables  </span>

### <span style="color:violet"> DATA FRAME FOOT</span>

In [466]:
df_foot.columns

Index(['CountryCode', 'SeriesCode', 'Year', 'DESCRIPTION', 'Unnamed: 4'], dtype='object')

In [467]:
print(df_foot.shape)

(643638, 5)

In [468]:
print(df_foot.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 24.6+ MB
None

### <span style="color:pink"> Le DF Data contient 643 638 lignes qui sont numéroté de 0 à 643 637 et 5 colonnes </span>
### <span style="color:pink"> 4 colonnes contiennent du texte ou chaine de caractères </span>
### <span style="color:pink"> 1 colonne ds chiffres décimales mais on remarque qu'il s'agit de la colonne'unnamed'qui est vide: je choisi de la supprimer tout de suite</span>

In [469]:
df_foot = df_foot.drop(columns=['Unnamed: 4'])

In [470]:
df_foot.head()

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.

In [471]:
print(df_foot.describe(include='object'))

       CountryCode   SeriesCode    Year   DESCRIPTION
count       643638       643638  643638        643638
unique         239         1558      56          9102
top            LIC  SH.DYN.MORT  YR2004  Country Data
freq          7320         9226   27128        191188

### <span style="color:pink"> Dans ce DF, il n'y a que 4 colonnes qui contiennent du texte ou chaine de caractères </span>
### <span style="color:pink">La colonne Country Code, contient 643 638 lignes, dont 239 uniques: les différents noms de pays</span>
### <span style="color:pink">Le country code le plus fréquent est LIC présent 7 320X peut être Low Income Countries</span>
### <span style="color:pink">La colonne indicator Series Code contient 643 638 lignes, dont 1 558 indicateurs différents, le plus présente est SH.DYN.MORT présent 9 226X, utilisé pour la mortalité infantile </span>
### <span style="color:pink">La colonne Year contient 643 638 lignes, dont 56 indicateurs différents, le plus présente est l'année 2004 présente 27 128 X </span>
### <span style="color:pink">La colonne DESCRIPTION contient 643 638 lignes, dont 9102 indicateurs différents, le plus présente est Country Data présent 191 188 X </span>

In [472]:
occurrences_df_foot = df_foot['SeriesCode'].value_counts()
print(occurrences_df_foot)

SeriesCode
SH.DYN.MORT                 9226
SE.PRM.AGES                 8771
SE.PRM.DURS                 8771
SE.SEC.DURS                 8619
SE.SEC.AGES                 8581
                            ...
SABER.STD.ASS.GOAL1.LVL2       1
SABER.STD.ASS.GOAL2            1
SABER.STD.ASS.GOAL2.LVL1       1
SABER.STD.ASS.GOAL2.LVL2       1
UIS.XSPENDP.1.FDPUB.FNS        1
Name: count, Length: 1558, dtype: int64

In [473]:
occurrences_df_foot = df_foot['CountryCode'].value_counts()
print(occurrences_df_foot)

CountryCode
LIC    7320
CYP    7183
LDC    6481
SSA    6389
SSF    6336
       ...
IMN      32
CUW      23
XKX      12
MNP       4
FRO       2
Name: count, Length: 239, dtype: int64

### <span style="color:pink">Je compte les occurences de 2 colonnes par curiosité et comparatif avec les autres tableaux </span>

In [474]:
doublons = df_foot.duplicated().sum()
print("Nombre de doublons :", doublons)

Nombre de doublons : 0

### <span style="color:pink"> Pas de doublons dans ce DF  </span>

In [475]:
total_manquantes = df_foot.isnull().sum().sum()
print("Total de valeurs manquantes :", total_manquantes)

Total de valeurs manquantes : 0

### <span style="color:pink"> Pas de valeurs manquante dans ce DF  </span>

### <span style="color:violet"> DATA FRAME FOOT</span>

In [476]:
df_stat_series.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [477]:
print(df_stat_series.shape)

(3665, 21)

In [478]:
print(df_stat_series.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Unit of measure                      0 non-null      float64
 6   Periodicity                          99 non-null     object
 7   Base Period                          314 non-null    object
 8   Other notes                          552 non-null    object
 9   Aggregation method                   47 non-null     object
 10  Limitations and exceptions           14 non-null     object
 11  Notes from original source           0 non-null      float64
 12  General comments                     14 non-null     object
 13  Source                               3665 non-null   object
 14  Statistical concept and methodology  23 non-null     object
 15  Development relevance                3 non-null      object
 16  Related source links                 215 non-null    object
 17  Other web links                      0 non-null      float64
 18  Related indicators                   0 non-null      float64
 19  License Type                         0 non-null      float64
 20  Unnamed: 20                          0 non-null      float64
dtypes: float64(6), object(15)
memory usage: 601.4+ KB
None

### <span style="color:pink"> Le DF Data contient 3 665 lignes qui sont numéroté de 0 à 3 664 et 21 colonnes </span>
### <span style="color:pink"> 15 colonnes contiennent du texte ou chaine de caractères </span>
### <span style="color:pink"> 6 colonnes des chiffres décimaux mais on remarque que 6 d'entre eux sont vides: je choisi de la supprimer tout de suite</span>

In [479]:
df_stat_series = df_stat_series.drop(columns=['Unnamed: 20'])

In [480]:
df_stat_series = df_stat_series.drop(columns=['License Type'])

In [481]:
df_stat_series = df_stat_series.drop(columns=['Related indicators'])

In [482]:
df_stat_series = df_stat_series.drop(columns=['Other web links'])

In [483]:
df_stat_series = df_stat_series.drop(columns=['Notes from original source'])

In [484]:
df_stat_series = df_stat_series.drop(columns=['Unit of measure'])

In [485]:
df_stat_series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,General comments,Source,Statistical concept and methodology,Development relevance,Related source links
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.barrolee.com/,NaN,NaN,NaN

In [486]:
df_stat_series = df_stat_series.drop(columns=['Source'])

In [487]:
df_stat_series = df_stat_series.drop(columns=['Related source links'])

### <span style="color:pink"> Je supprime la colonne source et link qui je suis sur ne me servira pas </span>

In [488]:
print(df_stat_series.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Series Code                          3665 non-null   object
 1   Topic                                3665 non-null   object
 2   Indicator Name                       3665 non-null   object
 3   Short definition                     2156 non-null   object
 4   Long definition                      3665 non-null   object
 5   Periodicity                          99 non-null     object
 6   Base Period                          314 non-null    object
 7   Other notes                          552 non-null    object
 8   Aggregation method                   47 non-null     object
 9   Limitations and exceptions           14 non-null     object
 10  General comments                     14 non-null     object
 11  Statistical concept and methodology  23 non-null     object
 12  Development relevance                3 non-null      object
dtypes: object(13)
memory usage: 372.4+ KB
None

### <span style="color:pink"> Juste pour controler que j'ai que des objects </span>

In [489]:
print(df_stat_series.describe(include='object'))

                Series Code              Topic  \
count                  3665               3665
unique                 3665                 37
top     BAR.NOED.1519.FE.ZS  Learning Outcomes
freq                      1               1046

                                                                Indicator Name  \
count                                                                     3665
unique                                                                    3665
top     Barro-Lee: Percentage of female population age 15-19 with no education
freq                                                                         1

                                                                                                                                                         Short definition  \
count                                                                                                                                                                2156
unique                                                                                                                                                               1169
top     Data Interpretation: 1=Latent; 2=Emerging; 3=Established; 4=Advanced. For additional information, visit the SABER: (website: http://saber.worldbank.org/index.cfm
freq                                                                                                                                                                  215

                                                                                                                                                          Long definition  \
count                                                                                                                                                                3665
unique                                                                                                                                                               2060
top     Data Interpretation: 1=Latent; 2=Emerging; 3=Established; 4=Advanced. For additional information, visit the SABER: (website: http://saber.worldbank.org/index.cfm
freq                                                                                                                                                                  215

       Periodicity                 Base Period Other notes Aggregation method  \
count           99                         314         552                 47
unique           1                           4          14                  3
top         Annual  Projections (2010 to 2100)        EGRA   Weighted average
freq            99                         308         403                 31

                                                    Limitations and exceptions  \
count                                                                       14
unique                                                                       9
top     Data should be used cautiously because of differences in age coverage.
freq                                                                         3

                                                                                                                                                                                            General comments  \
count                                                                                                                                                                                                     14
unique                                                                                                                                                                                                     8
top     When NEET rates are available for more than two age groups in a given year, one value for persons ages 15 to 29 is taken, considering that not all people complete their education by the age of 24.
freq                                                                                                                                                                                                       3

       Statistical concept and methodology  \
count                                   23
unique                                   2
top                                  TIMSS
freq                                    20

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Development relevance
count                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3
unique                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
top     Unemployment and total employment are the broadest indicators of economic activity as reflected by the labor market. The International Labour Organization(ILO) defines the unemployed as members of the economically active population who are without work but available for and seeking work, including people who have lost their jobs or who have voluntarily left work. Some unemployment is unavoidable. At any time some workers are temporarily unemployed - between jobs as employers look for the right workers and workers search for better jobs. Such unemployment, often called frictional unemployment, results from the normal operation of labor markets.\n\nYouth unemployment is an important policy issue for many economies. Young men and women today face increasing uncertainty in their hopes of undergoing a satisfactory transition in the labour market, and this uncertainty and disillusionment can, in turn, have damaging effects on individuals, communities, economies and society at large. Unemployed or underemployed youth are less able to contribute effectively to national development and have fewer opportunities to exercise their rights as citizens. They have less to spend as consumers, less to invest as savers and often have no "voice" to bring about change in their lives and communities. Widespread youth unemployment and underemployment also prevents companies and countries from innovating and developing competitive advantages based on human capital investment, thus undermining future prospects.\n\nThe NEET group is particularly at risk of both labour market and social exclusion, because this group is neither improving their future employability through investment in skills nor gaining experience through employment, . In addition, the NEET group is already in a disadvantaged position due to lower levels of education and lower household incomes. In view of the fact that the NEET group includes unemployed youth as well as economically inactive youth, the NEET rate provides important complementray information to labour force participation rates and unemploymenent rates. For example, if youth participation rates decrease during an economic downturn due to discouragement, this may be reflected in an upward movement in the NEET rate. More generally, a high NEET rate and a low youth unemployment may indicate significant discouragement of young people. A high NEET rate for young women suggests their engagement in household chores, and/or the presence of strong institutional barriers limiting female participation in labour markets.
freq                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3

### <span style="color:pink">La colonne Series Code contient 3665 indicateurs </span>
### <span style="color:pink">Tous aparaissent 1X par exemple l'indicateur BAR.NOED.1519.FE.ZS, j'imagine sur la scolarisation des femmes </span>
### <span style="color:pink">Il y a 37 thèmes, Learning Outcomes est le plus fréquent avec 1046 X</span>
### <span style="color:pink">Chaque code possède un nom nunique 3665</span>
### <span style="color:pink">2156 definition courtes 1169 catégories</span>
### <span style="color:pink">3665 Long definition Periodicity dont 2060 catégories, Data Interpretation: 1=Latent; 2=Emerging; 3=E aprait le plus 215X</span>
### <span style="color:pink">Une colonne indique si les données concernent des projections ou des périodes spécifiques: Projections (2010 to 2100)</span>
### <span style="color:pink"> les dernières colonnes Aggregation method est très peu renseigné 47 lignes dont 3 uniques</span>
### <span style="color:pink">Limitations and exceptions très peu renseigné 14 dont 8 unique</span>

# <span style="color:blue">ÉTAPE 3: RÉALISER VOTRE 1ER NETTOYAGE</span>

## Regardez de plus près les lignes du fichier Country pour identifier des faux pays.
## Supprimez les lignes correspondantes du dataframe contenant la donnée Country.
## Utilisez les 2 méthodes suivantes pour supprimer les faux pays des autres dataframes : 
## En stockant les faux pays dans une liste qui sera utilisée pour le filtrage des différents dataframes. 
## En utilisant un inner join entre les pays du dataframe Country nettoyé, et les autres dataframes.

In [490]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income: nonOECD,AW,2000,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2002/03,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Upper middle income,AO,2002,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are rescaled.,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,Europe & Central Asia,High income: nonOECD,AD,1990,...,NaN,NaN,2011. Population figures compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

### <span style="color:pink">J'identifie les faux pays</span>
### <span style="color:pink">Je veux voir la liste des valeurs uniques de Region, si je vois aggregates ou des zones régionales World ce sont probablement des faux pays.</span>

In [491]:
print(df_country['Region'].unique())

['Latin America & Caribbean' 'South Asia' 'Sub-Saharan Africa'
 'Europe & Central Asia' nan 'Middle East & North Africa'
 'East Asia & Pacific' 'North America']

### <span style="color:pink">Je n'ai pas de fausses région, je vais rechercher dans les Noms courts</span>

print(df_country['Short Name'].sort_values().unique())

### <span style="color:pink">J'ai bien une liste de faux pays qui sont des agrégas ou groupe que voici:</span>
### <span style="color:pink">'Arab World','East Asia & Pacific (all income levels)','East Asia & Pacific (developing only)','Europe & Central Asia (all income levels)','Europe & Central Asia (developing only)','European Union','Heavily indebted poor countries (HIPC)','Latin America & Caribbean (all income levels)','Latin America & Caribbean (developing only)','Least developed countries: UN classification','Middle East & North Africa (all income levels)','Middle East & North Africa (developing only)','North America','OECD members','South Asia','Sub-Saharan Africa (all income levels)','Sub-Saharan Africa (developing only)','World','High income','Low & middle income','Low income','Lower middle income','Middle income',Upper middle income']</span>

### <span style="color:pink">Ce sont ces noms qu’il faut supprimer du DataFrame Country et des autres DataFrames, je créer une liste False_country puis supprime les faux pays de la colonne Short name  </span>

In [492]:
false_countries = [
    'Arab World',
    'East Asia & Pacific (all income levels)',
    'East Asia & Pacific (developing only)',
    'Europe & Central Asia (all income levels)',
    'Europe & Central Asia (developing only)',
    'European Union',
    'Heavily indebted poor countries (HIPC)',
    'Latin America & Caribbean (all income levels)',
    'Latin America & Caribbean (developing only)',
    'Least developed countries: UN classification',
    'Middle East & North Africa (all income levels)',
    'Middle East & North Africa (developing only)',
    'North America',
    'OECD members',
    'South Asia',
    'Sub-Saharan Africa (all income levels)',
    'Sub-Saharan Africa (developing only)',
    'World',
    'High income',
    'Low & middle income',
    'Low income',
    'Lower middle income',
    'Middle income',
    'Upper middle income'
]

In [493]:
filtered_names = [name for name in df_country['Short Name'].unique()
                  if 'income' in name.lower() or
                     'world' in name.lower() or
                     '(' in name]
len(filtered_names)
filtered_names
len(filtered_names)

21

In [494]:
df_country_cleaned = df_country[~df_country['Short Name'].isin(false_countries)]

In [495]:
print(df_country_cleaned['Short Name'])

0             Aruba
1       Afghanistan
2            Angola
3           Albania
4           Andorra
           ...
236          Kosovo
237           Yemen
238    South Africa
239          Zambia
240        Zimbabwe
Name: Short Name, Length: 217, dtype: object

In [496]:
print(df_country_cleaned['Short Name'].sort_values().unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Costa Rica' 'Croatia' 'Cuba' 'Curaçao'
 'Cyprus' 'Czech Republic' "Côte d'Ivoire" "Dem. People's Rep. Korea"
 'Dem. Rep. Congo' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Ethiopia' 'Euro area' 'Faeroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Georgia' 'Germany' 'Ghana' 'Gibraltar'
 'Greece' 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Korea' 'Kosovo' 'Kuwait' 'Kyrgyz Republic' 'Lao PDR'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macao SAR, China' 'Macedonia' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Samoa' 'San Marino' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovak Republic'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan'
 'Spain' 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Martin (French part)' 'St. Vincent and the Grenadines' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'São Tomé and Principe' 'Tajikistan' 'Tanzania' 'Thailand' 'The Bahamas'
 'The Gambia' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Virgin Islands'
 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [497]:
print(df_country.shape[0])

241

### <span style="color:pink">Résultat, après le nettoyage du DF COUNTRY il me reste 217 lignes de pays uniques/241</span>

### <span style="color:pink">Pour faire un Inner join, avec ce DF nettoyé, j'ai besoin d'un DF qui ai des colonnes en commun, donc tous sauf df_stat_series </span>

### <span style="color:pink">Je commence avec le df_data</span>

In [498]:
df_data_cleaned = df_data.merge(
    df_country_cleaned[['Country Code']],
    on='Country Code',
    how='inner'
)

In [499]:
print(df_data.shape[0])

886930

In [500]:
print(df_data_cleaned.shape[0])

795305

### <span style="color:pink">Je compare avant et après avoir nettoyé le df_data</span>

### <span style="color:pink">Je fais le df_foot</span>

In [501]:
df_foot_cleaned = df_foot.merge(
    df_country_cleaned[['Country Code']],
    left_on='CountryCode',
    right_on='Country Code',
    how='inner'
)

In [502]:
print(df_foot.shape[0])

643638

In [503]:
print(df_foot_cleaned.shape[0])

521710

### <span style="color:pink">Je compare avant et après avoir nettoyé le df_foot</span>

### <span style="color:pink">Je fais le df_series</span>

In [504]:
df_series_cleaned = df_series.merge(
    df_country_cleaned[['Country Code']],
    left_on='CountryCode',
    right_on='Country Code',
    how='inner'
)

In [505]:
print(df_series.shape[0])

613

In [506]:
print(df_series_cleaned.shape[0])

613

### <span style="color:pink"> il n’y a aucun faux pays à supprimer dans df_stat_series car il n’y a pas de pays dedans </span>

# <span style="color:red">EXERCICE 2</span>

# <span style="color:blue">ÉTAPE 1: RÉDUIRE LE PÉRIMÈTRE EN UTILISANT UNE APPROCHE MÉTIER</span>

# Instructions 
## Parmi les jeux de données centrés sur les indicateurs, identifiez la colonne qui décrit la catégorie métier à laquelle appartient chaque indicateur
## Gardez les catégories qui font sens par rapport à la demande de Mark et l’objectif du projet et supprimez les autres
## Calculez le nombre d’indicateurs restants
## Filtrez l’ensemble des jeux de données pour ne garder que les indicateurs sélectionnés
## Dans le fichier Data, interprétez les colonnes représentant les années
## Pourquoi avons-nous des valeurs d’indicateur pour des années futures ? 
## Sur la base de votre compréhension de la problématique métier, filtrez les années en conséquence

In [507]:
df_series.head()

  CountryCode         SeriesCode
0         ABW        SP.POP.TOTL
1         ABW        SP.POP.GROW
2         AFG        SP.POP.GROW
3         AFG  NY.GDP.PCAP.PP.CD
4         AFG        SP.POP.TOTL

In [508]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income: nonOECD,AW,2000,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2002/03,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Upper middle income,AO,2002,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are rescaled.,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,Europe & Central Asia,High income: nonOECD,AD,1990,...,NaN,NaN,2011. Population figures compiled from administrative registers.,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [509]:
df_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [510]:
df_foot.head()

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.

In [511]:
df_stat_series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,General comments,Statistical concept and methodology,Development relevance
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,Percentage of female population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,Percentage of population age 15-19 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,Percentage of female population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,Percentage of population age 15+ with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,Percentage of female population age 20-24 with no education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### <span style="color:pink"> J'ai utilisé un .head pour connaitre les 5 premières lignes de mes DF </span>
### <span style="color:pink"> La colonne qui décrit la catégorie métier est 'Topic' dans le DF DF_STAT_SERIES</span>
### <span style="color:pink"> C’est elle qui indique à quel domaine appartient chaque indicateur (éducation, santé, population, etc.)</span>

### <span style="color:pink"> Je veux voir ce qu'il y a comme valeurs a l'intérieur de Topic, sous forme de tableau</span>

In [512]:
print("Valeurs uniques de 'Topic' :")
print(df_stat_series['Topic'].drop_duplicates())

Valeurs uniques de 'Topic' :
0                                                                                         Attainment
360                                                                               Education Equality
610                                                                   Infrastructure: Communications
612                                                                                Learning Outcomes
1658          Economic Policy & Debt: National accounts: US$ at current prices: Aggregate indicators
1659    Economic Policy & Debt: National accounts: US$ at constant 2010 prices: Aggregate indicators
1660                                                 Economic Policy & Debt: Purchasing power parity
1668                           Economic Policy & Debt: National accounts: Atlas GNI & GNI per capita
1670                                                                                        Teachers
1994                                                Education Management Information Systems (SABER)
2017                                                                 Early Child Development (SABER)
2029                                                             Engaging the Private Sector (SABER)
2057                                                        School Health and School Feeding (SABER)
2089                                                      School Autonomy and Accountability (SABER)
2118                                                                          School Finance (SABER)
2136                                                                      Student Assessment (SABER)
2151                                                                                Teachers (SABER)
2180                                                                      Tertiary Education (SABER)
2197                                                                   Workforce Development (SABER)
2209                                                                                        Literacy
2216                                                                                      Background
2217                                                                                         Primary
2218                                                                                       Secondary
2220                                                                                        Tertiary
2221                                                                       Early Childhood Education
2225                                                                                     Pre-Primary
2373                                                                                    Expenditures
2382                                                                            Health: Risk factors
2383                                                                               Health: Mortality
2384                                                Social Protection & Labor: Labor force structure
2395                                                                                           Laber
2398                                                         Social Protection & Labor: Unemployment
2401                                                                   Health: Population: Structure
2405                                                                                      Population
2589                                                                    Health: Population: Dynamics
2697                                                                                            EMIS
2837                                                                     Post-Secondary/Non-Tertiary
Name: Topic, dtype: object

### <span style="color:pink"> Pour rappel Mark veut identifier des pays à fort potentiel de clients pour des contenus de niveau lycée / université</span>
### <span style="color:pink"> Pour gardez les catégories qui font sens par rapport à la demande de Mark et l’objectif du projet, je séléctionne une liste des plus importantes catégories en relation avec l'éducation, ici je l'ai appelé Topic To Keep</span>

In [513]:
topics_to_keep = [
    'Attainment',
    'Education Equality',
    'Learning Outcomes',
    'Teachers',
    'Education Management Information Systems (SABER)',
    'Early Child Development (SABER)',
    'Engaging the Private Sector (SABER)',
    'School Health and School Feeding (SABER)',
    'School Autonomy and Accountability (SABER)',
    'School Finance (SABER)',
    'Student Assessment (SABER)',
    'Teachers (SABER)',
    'Tertiary Education (SABER)',
    'Literacy',
    'Primary',
    'Secondary',
    'Tertiary',
    'Early Childhood Education',
    'Pre-Primary',
    'Post-Secondary/Non-Tertiary'
]

In [514]:
df_stat_series_filtered = df_stat_series[
    df_stat_series['Topic'].isin(topics_to_keep)
]

In [515]:
print(df_stat_series_filtered['Topic'].value_counts())

Topic
Learning Outcomes                                   1046
Attainment                                           733
Education Equality                                   426
Secondary                                            256
Primary                                              248
Tertiary                                             158
Teachers                                             137
Engaging the Private Sector (SABER)                   51
Literacy                                              32
School Autonomy and Accountability (SABER)            29
Teachers (SABER)                                      29
Early Childhood Education                             24
Education Management Information Systems (SABER)      23
Post-Secondary/Non-Tertiary                           19
School Finance (SABER)                                18
Tertiary Education (SABER)                            17
Student Assessment (SABER)                            15
Pre-Primary                                           14
Early Child Development (SABER)                       12
School Health and School Feeding (SABER)               9
Name: count, dtype: int64

### <span style="color:pink">J'ai filtrer ma colonne Topic en éliminant toutes les valeurs qui ne sont pas dans la liste que j'ai créée précédemnt, puis je voulais voir les valeurs restantes de ma colonne topic</span>

In [516]:
print(df_stat_series.shape[0])

3665

In [517]:
print(df_stat_series_filtered.shape[0])

3296

### <span style="color:pink">Juste par curiosité je regarde combien j'avais de données avant et après mon filtre sur la colonne Topic </span>

In [518]:
print("Nombre d’indicateurs restants :", df_stat_series_filtered.shape[0])

Nombre d’indicateurs restants : 3296

### <span style="color:pink">Pour répondre à la consigne il me reste 3 296 indicateurs retenus sur le DF Stat Series</span>


### <span style="color:pink">Je dois maintenant prendre en compte ma liste filtré du DF Stat Series et le transposer aux autres data frames

### <span style="color:pink">J'utilise le inner join pour DF DATA pour n'avoir que les données qui nous intéresse</span>

### <span style="color:pink">Je veux lier 2 colonnes, 'Indicator Code' du df_data et 'Series Code' du df_stat_series et supprimer tout le reste pour ne garder que les indicateurs liée à l’éducation car df serie est très lourd</span>

In [519]:
indicators_to_keep = df_stat_series_filtered['Series Code'].unique()

df_data_filtered = df_data[
    df_data['Indicator Code'].isin(indicators_to_keep)
]

print("Taille du df_data filtré :", df_data_filtered.shape)
print(df_data_filtered.head())

Taille du df_data filtré : (786742, 69)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   Indicator Code       1970       1971       1972       1973       1974  \
0      UIS.NERA.2        NaN        NaN        NaN        NaN        NaN
1    UIS.NERA.2.F        NaN        NaN        NaN        NaN        NaN
2  UIS.NERA.2.GPI        NaN        NaN        NaN        NaN        NaN
3    UIS.NERA.2.M        NaN        NaN        NaN        NaN        NaN
4     SE.PRM.TENR  54.822121  54.894138  56.209438  57.267109  57.991138

       1975  ...  2055  2060  2065  2070  2075  2080  2085  2090  2095  2100
0       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  59.36554  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 69 columns]

In [520]:
print(df_data.shape[0])

886930

In [521]:
print(df_data_filtered.shape[0])

786742

### <span style="color:pink">Il me reste 786 742 indicateurs sur le DF DATA</span>

In [522]:
series_codes_to_keep = df_stat_series_filtered["Series Code"].unique()

### <span style="color:pink">Je créer une liste sur la colonne Serie Code que je souhaite concerver, la même que la colonne Topic dans le DF Stat Series</span>
### <span style="color:pink">Maintenant, j'applique ce filtre au DF Data</span>

In [523]:
df_foot_filtered = df_foot[
    df_foot["SeriesCode"].isin(series_codes_to_keep)
]

In [524]:
print(df_foot.shape[0])

643638

In [525]:
print(df_foot_filtered.shape[0])

566355

### <span style="color:pink">Pour le DF foot il reste 566 355 indicateurs</span>

In [526]:
df_series_filtered = df_series[
    df_series["SeriesCode"].isin(series_codes_to_keep)
]

In [527]:
print(df_series.shape[0])

613

In [528]:
print(df_series_filtered.shape[0])

0

### <span style="color:pink">Il me reste 0 indicateurs sur le résultat de mon nettoyage du DF Series, les donnés ne doivent pas se recouper ou ne pas exister, je laisse tombé le filtre sur le DF Series, je le laisse comme il est</span>


### <span style="color:pink">Je choisi de ne pas filtrer le DF country avec ma liste du DF Stat Series car il ne contient pas d'indicateurs mais  des pays, je pourrais filtrer par pays restant mais je préfère concerver cette donnée pour avoir par exemple les pays dans lesquels il ne faut pas s'implanter</span>

### <span style="color:pink">En conclusion j'utilise maintenant : df_series , df_foot_filtered , df_data_filtered , df_country et df_stat_series_filtered</span>

## Dans le fichier Data, interprétez les colonnes représentant les années
## Pourquoi avons-nous des valeurs d’indicateur pour des années futures ? 
## Sur la base de votre compréhension de la problématique métier, filtrez les années en conséquence

In [529]:
df_data_filtered.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### <span style="color:pink">Chaque colonne d’année correspond à la valeur d’un indicateur pour un pays donné sur cette année</span>
### <span style="color:pink">Le fichier va jusqu'à 2100, je suppose que les années futures correspondent à des projections, estimées à partir de modèles économiques, démographiques ou éducatifs des différents indicateurs</span>

### <span style="color:pink">Mark veut explorer les pays avec fort potentiel de clients et voir comment ce potentiel pourrait évoluer, nous devons observer: les données récents par ex de 2010 à 2024, et éventuellement quelques années futures proches, par ex de 2025 à 2030, si les projections sont fiables, mais peut être que plus ne serai pas pertient peut être trop d'erreur ou d'incertitude ou un élément pourrai changer car temporellement trop lointain</span>

In [530]:
years_cols = [col for col in df_data.columns if col.isdigit()]
print(years_cols)

['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045', '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090', '2095', '2100']

### <span style="color:pink">Apres avoir lister les colonnes d'années, je garde uniquement les colonnes récentes 2010-2025</span>

In [531]:
years_to_keep = [str(year) for year in range(2010, 2026)]
cols_to_keep = ["Country Name", "Country Code", "Indicator Name", "Indicator Code"] + years_to_keep

In [532]:
available_cols = df_data_filtered.columns

In [533]:
fixed_cols = ["Country Name", "Country Code", "Indicator Name", "Indicator Code"]

In [534]:
years_to_keep = [str(year) for year in range(2010, 2026) if str(year) in available_cols]

In [535]:
cols_to_keep = fixed_cols + years_to_keep

In [536]:
df_data_filtered_year2025 = df_data_filtered[cols_to_keep]

In [537]:
print(df_data_filtered_year2025.shape)
print(df_data_filtered_year2025.head())

(786742, 14)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   Indicator Code       2010      2011       2012      2013       2014  2015  \
0      UIS.NERA.2        NaN       NaN        NaN       NaN        NaN   NaN
1    UIS.NERA.2.F        NaN       NaN        NaN       NaN        NaN   NaN
2  UIS.NERA.2.GPI        NaN       NaN        NaN       NaN        NaN   NaN
3    UIS.NERA.2.M        NaN       NaN        NaN       NaN        NaN   NaN
4     SE.PRM.TENR  85.211998  85.24514  86.101669  85.51194  85.320152   NaN

   2016  2017  2020  2025
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN

### <span style="color:pink">J'ai fait plusieurs lignes de code car je ne souhaitais concerver que les colonnes de 2010 à 2025 mais j'ai eu un code erreur suite au 1er code me montrant que l'année 2018-2019 n'existait pas du coup, ce code garantit de ne sélectionner que les colonnes réellement présentes dans le DF country</span>

### <span style="color:pink">En conclusion, le df_data_filtered_year2025, nous montre des données récents sur les indicateurs concernant l'éducation

In [538]:
years_to_project = [str(year) for year in range(2025, 2031)]

In [539]:
cols_to_keep_proj = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years_to_project

In [540]:
cols_to_keep_proj = [col for col in cols_to_keep_proj if col in df_data_filtered.columns]

In [541]:
df_data_projection = df_data_filtered[cols_to_keep_proj]
print(df_data_projection.shape)
print(df_data_projection.head())

(786742, 6)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   Indicator Code  2025  2030
0      UIS.NERA.2   NaN   NaN
1    UIS.NERA.2.F   NaN   NaN
2  UIS.NERA.2.GPI   NaN   NaN
3    UIS.NERA.2.M   NaN   NaN
4     SE.PRM.TENR   NaN   NaN

### <span style="color:pink">Pour la suite je peux aussi utiliser ces projections de 2025 à 2030 avec le df_data_projection</span>

# <span style="color:blue">ÉTAPE 2: RÉDUIRE LE PÉRIMÈTRE EN UTILISANT UNE APPROCHE DATA</span>
# Instructions 
## Pour chaque année, calculez la proportion d’indicateurs avec des valeurs renseignées (c’est-à-dire, non manquantes).
## Pour chaque indicateur, calculez la proportion d’années avec des valeurs renseignées.
## Sur la base des opérations précédentes, réduisez le nombre d’années et d’indicateurs pour garder celles et ceux qui sont les plus riches en données (et donc les plus utilisables pour la suite).
## Identifiez les indicateurs particulièrement riches en données en calculant un dataframe contenant par indicateur et par année, le nombre de pays avec une valeur renseignée.
## Triez ce dataframe par ordre décroissant de nombre de pays avec une valeur renseignée, afin d’obtenir les indicateurs les plus riches en données dans l’ensemble. 
## Aidez-vous de ce dataframe pour sélectionner parmi les indicateurs les plus riches, une quinzaine qui font sens par rapport à la problématique métier.

In [542]:
df_data_filtered_year2025.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014,2015,2016,2017,2020,2025
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, both sexes (%)",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, female (%)",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, gender parity index (GPI)",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, male (%)",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,85.211998,85.24514,86.101669,85.51194,85.320152,NaN,NaN,NaN,NaN,NaN

### <span style="color:pink">Je lis les 5 premières lignes de DF DATA sur les années récentes filtrés </span>

### <span style="color:pink">Il me reste pour infos ces 5 DF df_data_filtered_year2025, df_stat_series_filtered, df_country, df_foot_filtered, df_series  </span>

In [543]:
years_cols = [col for col in df_data_filtered_year2025.columns if col.isdigit()]

### <span style="color:pink">J'ai extrait les colonnes années

In [544]:
prop_non_missing_per_year = df_data_filtered_year2025[years_cols].notna().sum() / df_data_filtered_year2025.shape[0]
print(prop_non_missing_per_year)

2010    0.232410
2011    0.109448
2012    0.112806
2013    0.101495
2014    0.087470
2015    0.105285
2016    0.004360
2017    0.000182
2020    0.065378
2025    0.065378
dtype: float64

### <span style="color:pink">Ce résultat correspond à la proportion d’indicateurs avec des valeurs renseignées (non manquantes) pour chaque année
### <span style="color:pink">Seules les années 2010 à 2015 ont un peu de données exploitables, max 23 % c’est assez bas
### <span style="color:pink">Les années après 2015 sont quasiment vides : 2016–2017 : quasiment aucune donnée, 2020 et 2025 : données disponibles pour 6,5 % des indicateurs seulement

In [545]:
years_to_keep = prop_non_missing_per_year[prop_non_missing_per_year > 0.10].index.tolist()
print(years_to_keep)

['2010', '2011', '2012', '2013', '2015']

### <span style="color:pink">Là j'ai filtré uniquement les années où la proportion est supérieure à 10 % et supprimé les années où les valeurs manquantes sont trop importantes car inexploitable, je garde years_to_keep

In [546]:
prop_non_missing_per_indicator = df_data_filtered_year2025[years_cols].notna().sum(axis=1) / len(years_cols)

In [547]:
df_data_filtered_year2025["prop_non_missing_years"] = prop_non_missing_per_indicator
print(df_data_filtered_year2025[["Indicator Name", "prop_non_missing_years"]].head())

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   prop_non_missing_years
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.5

/var/folders/ct/pdr3s3ss6lg462slc_cwvtpc0000gn/T/ipykernel_964/1103077008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data_filtered_year2025["prop_non_missing_years"] = prop_non_missing_per_indicator

In [548]:
df_indicators_prop = df_data_filtered_year2025[["Indicator Name"]].copy()
df_indicators_prop["prop_non_missing_years"] = prop_non_missing_per_indicator
print(df_indicators_prop.head())

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   prop_non_missing_years
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.5

### <span style="color:pink">Je préfère crée un DataFrame séparé pour éviter d’écraser le data_filtered_year2025
### <span style="color:pink">Après cela je choisi de garder que les indicateurs exploitables supérieur a 40% puis de filtrer le DF avec les indicateurs restants exploitables

In [549]:
threshold = 0.4

In [550]:
indicators_to_keep = df_indicators_prop[
    df_indicators_prop["prop_non_missing_years"] >= threshold
]["Indicator Name"].unique()

In [551]:
df_data_exploitable = df_data_filtered_year2025[
    df_data_filtered_year2025["Indicator Name"].isin(indicators_to_keep)
]

print("Indicateurs conservés :", indicators_to_keep)
print(df_data_exploitable.shape)
print(df_data_exploitable.head())

Indicateurs conservés : ['Adjusted net enrolment rate, primary, both sexes (%)'
 'Adjusted net enrolment rate, primary, female (%)'
 'Adjusted net enrolment rate, primary, gender parity index (GPI)' ...
 'Drop-out rate from Grade 5 of lower secondary general education, both sexes (%)'
 'Drop-out rate from Grade 5 of lower secondary general education, female (%)'
 'Drop-out rate from Grade 5 of lower secondary general education, male (%)']
(282414, 15)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   Indicator Code       2010      2011       2012      2013       2014  2015  \
0      UIS.NERA.2        NaN       NaN        NaN       NaN        NaN   NaN
1    UIS.NERA.2.F        NaN       NaN        NaN       NaN        NaN   NaN
2  UIS.NERA.2.GPI        NaN       NaN        NaN       NaN        NaN   NaN
3    UIS.NERA.2.M        NaN       NaN        NaN       NaN        NaN   NaN
4     SE.PRM.TENR  85.211998  85.24514  86.101669  85.51194  85.320152   NaN

   2016  2017  2020  2025  prop_non_missing_years
0   NaN   NaN   NaN   NaN                     0.0
1   NaN   NaN   NaN   NaN                     0.0
2   NaN   NaN   NaN   NaN                     0.0
3   NaN   NaN   NaN   NaN                     0.0
4   NaN   NaN   NaN   NaN                     0.5

### <span style="color:pink">J'obtiens un nouveau DF ou je concerve uniquement les indicateurs exploitables supérieur a 40%
### <span style="color:pink">Il faut maintenant garder uniquement les colonnes d'années exploitables

In [552]:
cols_to_keep = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years_to_keep
df_data_exploitable = df_data_exploitable[cols_to_keep]
print(df_data_exploitable.shape)
print(df_data_exploitable.head())

(282414, 9)
  Country Name Country Code  \
0   Arab World          ARB
1   Arab World          ARB
2   Arab World          ARB
3   Arab World          ARB
4   Arab World          ARB

                                                            Indicator Name  \
0             Adjusted net enrolment rate, lower secondary, both sexes (%)
1                 Adjusted net enrolment rate, lower secondary, female (%)
2  Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
3                   Adjusted net enrolment rate, lower secondary, male (%)
4                     Adjusted net enrolment rate, primary, both sexes (%)

   Indicator Code       2010      2011       2012      2013  2015
0      UIS.NERA.2        NaN       NaN        NaN       NaN   NaN
1    UIS.NERA.2.F        NaN       NaN        NaN       NaN   NaN
2  UIS.NERA.2.GPI        NaN       NaN        NaN       NaN   NaN
3    UIS.NERA.2.M        NaN       NaN        NaN       NaN   NaN
4     SE.PRM.TENR  85.211998  85.24514  86.101669  85.51194   NaN

In [553]:
df_data_exploitable = df_data_exploitable.drop(columns="prop_non_missing_years", errors="ignore")

### <span style="color:pink">Je supprime la colonne que j'avais créer qui ne m'est plus utile pour avoir un tableau propre et claire

In [554]:
df_data_exploitable = df_data_filtered_year2025[
    df_data_filtered_year2025["Indicator Name"].isin(indicators_to_keep)
]

### <span style="color:pink">Je Filtre sur les indicateurs exploitables

In [555]:
cols_to_keep = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years_to_keep
df_data_exploitable = df_data_exploitable[cols_to_keep]
df_data_exploitable = df_data_exploitable.dropna(subset=years_to_keep, how='all')
print(df_data_exploitable.shape)
print(df_data_exploitable.head())

(158191, 9)
   Country Name Country Code  \
4    Arab World          ARB
5    Arab World          ARB
6    Arab World          ARB
7    Arab World          ARB
12   Arab World          ARB

                                                              Indicator Name  \
4                       Adjusted net enrolment rate, primary, both sexes (%)
5                           Adjusted net enrolment rate, primary, female (%)
6            Adjusted net enrolment rate, primary, gender parity index (GPI)
7                             Adjusted net enrolment rate, primary, male (%)
12  Adjusted net intake rate to Grade 1 of primary education, both sexes (%)

    Indicator Code       2010       2011       2012       2013  2015
4      SE.PRM.TENR  85.211998  85.245140  86.101669  85.511940   NaN
5   SE.PRM.TENR.FE  82.871651  82.861389  84.401413  83.914032   NaN
6   UIS.NERA.1.GPI   0.947620   0.946700   0.962080   0.964090   NaN
7   SE.PRM.TENR.MA  87.452583  87.526520  87.728172  87.039879   NaN
12      UIS.NIRA.1  76.197044  76.474968  77.319366  76.566711   NaN

### <span style="color:pink">J'obtien ce DF df_data_exploitable avec  uniquement les indicateurs et années exploitables

In [556]:
print(df_data_exploitable)

       Country Name Country Code  \
4        Arab World          ARB
5        Arab World          ARB
6        Arab World          ARB
7        Arab World          ARB
12       Arab World          ARB
...             ...          ...
886922     Zimbabwe          ZWE
886926     Zimbabwe          ZWE
886927     Zimbabwe          ZWE
886928     Zimbabwe          ZWE
886929     Zimbabwe          ZWE

                                                                  Indicator Name  \
4                           Adjusted net enrolment rate, primary, both sexes (%)
5                               Adjusted net enrolment rate, primary, female (%)
6                Adjusted net enrolment rate, primary, gender parity index (GPI)
7                                 Adjusted net enrolment rate, primary, male (%)
12      Adjusted net intake rate to Grade 1 of primary education, both sexes (%)
...                                                                          ...
886922                        Youth illiterate population, 15-24 years, % female
886926               Youth literacy rate, population 15-24 years, both sexes (%)
886927                   Youth literacy rate, population 15-24 years, female (%)
886928    Youth literacy rate, population 15-24 years, gender parity index (GPI)
886929                     Youth literacy rate, population 15-24 years, male (%)

              Indicator Code       2010       2011       2012       2013  2015
4                SE.PRM.TENR  85.211998  85.245140  86.101669  85.511940   NaN
5             SE.PRM.TENR.FE  82.871651  82.861389  84.401413  83.914032   NaN
6             UIS.NERA.1.GPI   0.947620   0.946700   0.962080   0.964090   NaN
7             SE.PRM.TENR.MA  87.452583  87.526520  87.728172  87.039879   NaN
12                UIS.NIRA.1  76.197044  76.474968  77.319366  76.566711   NaN
...                      ...        ...        ...        ...        ...   ...
886922       UIS.LPP.AG15T24        NaN  43.614360        NaN        NaN   NaN
886926     SE.ADT.1524.LT.ZS        NaN  90.930700        NaN        NaN   NaN
886927  SE.ADT.1524.LT.FE.ZS        NaN  92.124560        NaN        NaN   NaN
886928  SE.ADT.1524.LT.FM.ZS        NaN   1.028280        NaN        NaN   NaN
886929  SE.ADT.1524.LT.MA.ZS        NaN  89.590580        NaN        NaN   NaN

[158191 rows x 9 columns]

### <span style="color:pink">Maintenant que j'ai répondu au 2 premières questions, je dois répondre à la 3eme à savoir de réduire le nombre d’années et d’indicateurs pour garder celles et ceux qui sont les plus riches en données.
### <span style="color:pink">Je dois garder en tête, quels indicateurs éducatifs permettent d’évaluer le marché potentiel, dans quels pays ces indicateurs sont-ils bons et sur quelles années a-t-on suffisamment de données pour que l’analyse soit fiable

In [557]:
years_cols = years_to_keep
prop_non_missing_per_indicator = (
    df_data_exploitable[years_cols]
    .notna()
    .sum(axis=1)
    / len(years_cols)
)
df_data_exploitable["prop_non_missing_years"] = prop_non_missing_per_indicator
print(df_data_exploitable["prop_non_missing_years"].value_counts())

prop_non_missing_years
0.4    66237
0.8    41332
0.2    22621
0.6    16611
1.0    11390
Name: count, dtype: int64

### <span style="color:pink">J'ai calculer le % de valeurs présentes par indicateur sur les années gardées
### <span style="color:pink">Si un indicateur n’a quasiment jamais de données sur les années gardées, je le supprime, et les indicateurs présents dans au moins la moitié des années je le concerve

In [558]:
threshold = 0.5

indicators_to_keep_final = df_data_exploitable.loc[
    df_data_exploitable["prop_non_missing_years"] >= threshold,
    "Indicator Name"
].unique()

print(indicators_to_keep_final)

['Adjusted net enrolment rate, primary, both sexes (%)'
 'Adjusted net enrolment rate, primary, female (%)'
 'Adjusted net enrolment rate, primary, gender parity index (GPI)'
 'Adjusted net enrolment rate, primary, male (%)'
 'Adjusted net intake rate to Grade 1 of primary education, both sexes (%)'
 'Adjusted net intake rate to Grade 1 of primary education, female (%)'
 'Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)'
 'Adjusted net intake rate to Grade 1 of primary education, male (%)'
 'Adult illiterate population, 15+ years, male (number)'
 'Adult literacy rate, population 15+ years, both sexes (%)'
 'Adult literacy rate, population 15+ years, female (%)'
 'Adult literacy rate, population 15+ years, male (%)'
 'Cumulative drop-out rate to the last grade of primary education, both sexes (%)'
 'Cumulative drop-out rate to the last grade of primary education, female (%)'
 'Cumulative drop-out rate to the last grade of primary education, male (%)'
 'Early school leavers from primary education, both sexes (number)'
 'Early school leavers from primary education, female (number)'
 'Early school leavers from primary education, male (number)'
 'Effective transition rate from primary to lower secondary general education, both sexes (%)'
 'Effective transition rate from primary to lower secondary general education, female (%)'
 'Effective transition rate from primary to lower secondary general education, male (%)'
 'Enrolment in early childhood education, private institutions, both sexes (number)'
 'Enrolment in Grade 1 of primary education, both sexes (number)'
 'Enrolment in Grade 1 of primary education, female (number)'
 'Enrolment in Grade 2 of primary education, both sexes (number)'
 'Enrolment in Grade 2 of primary education, female (number)'
 'Enrolment in Grade 3 of primary education, both sexes (number)'
 'Enrolment in Grade 3 of primary education, female (number)'
 'Enrolment in Grade 4 of primary education, both sexes (number)'
 'Enrolment in Grade 4 of primary education, female (number)'
 'Enrolment in Grade 5 of primary education, both sexes (number)'
 'Enrolment in Grade 5 of primary education, female (number)'
 'Enrolment in Grade 6 of primary education, both sexes (number)'
 'Enrolment in Grade 6 of primary education, female (number)'
 'Enrolment in lower secondary education, both sexes (number)'
 'Enrolment in lower secondary education, female (number)'
 'Enrolment in lower secondary general, both sexes (number)'
 'Enrolment in lower secondary general, female (number)'
 'Enrolment in lower secondary vocational, both sexes (number)'
 'Enrolment in lower secondary vocational, female (number)'
 'Enrolment in post-secondary non-tertiary education, both sexes (number)'
 'Enrolment in post-secondary non-tertiary education, female (number)'
 'Enrolment in pre-primary education, both sexes (number)'
 'Enrolment in pre-primary education, female (number)'
 'Enrolment in primary education, both sexes (number)'
 'Enrolment in primary education, female (number)'
 'Enrolment in primary education, private institutions, both sexes (number)'
 'Enrolment in secondary education, both sexes (number)'
 'Enrolment in secondary education, female (number)'
 'Enrolment in secondary education, private institutions, both sexes (number)'
 'Enrolment in secondary general, both sexes (number)'
 'Enrolment in secondary general, female (number)'
 'Enrolment in secondary vocational, both sexes (number)'
 'Enrolment in secondary vocational, female (number)'
 'Enrolment in tertiary education, all programmes, both sexes (number)'
 'Enrolment in tertiary education, all programmes, female (number)'
 'Enrolment in tertiary education, ISCED 5 programmes, both sexes (number)'
 'Enrolment in tertiary education, ISCED 5 programmes, female (number)'
 'Enrolment in tertiary education, ISCED 8 programmes, both sexes (number)'
 'Enrolment in tertiary education, ISCED 8 programmes, female (number)'
 'Enrolment in upper secondary education, both sexes (number)'
 'Enrolment in upper secondary education, female (number)'
 'Enrolment in upper secondary general, both sexes (number)'
 'Enrolment in upper secondary general, female (number)'
 'Enrolment in upper secondary vocational, both sexes (number)'
 'Enrolment in upper secondary vocational, female (number)'
 'Gross enrolment ratio, lower secondary, both sexes (%)'
 'Gross enrolment ratio, lower secondary, female (%)'
 'Gross enrolment ratio, lower secondary, gender parity index (GPI)'
 'Gross enrolment ratio, lower secondary, male (%)'
 'Gross enrolment ratio, pre-primary, both sexes (%)'
 'Gross enrolment ratio, pre-primary, female (%)'
 'Gross enrolment ratio, pre-primary, gender parity index (GPI)'
 'Gross enrolment ratio, pre-primary, male (%)'
 'Gross enrolment ratio, primary and lower secondary, both sexes (%)'
 'Gross enrolment ratio, primary and lower secondary, female (%)'
 'Gross enrolment ratio, primary and lower secondary, gender parity index (GPI)'
 'Gross enrolment ratio, primary and lower secondary, male (%)'
 'Gross enrolment ratio, primary and secondary, both sexes (%)'
 'Gross enrolment ratio, primary and secondary, female (%)'
 'Gross enrolment ratio, primary and secondary, gender parity index (GPI)'
 'Gross enrolment ratio, primary and secondary, male (%)'
 'Gross enrolment ratio, primary to tertiary, both sexes (%)'
 'Gross enrolment ratio, primary, both sexes (%)'
 'Gross enrolment ratio, primary, female (%)'
 'Gross enrolment ratio, primary, gender parity index (GPI)'
 'Gross enrolment ratio, primary, male (%)'
 'Gross enrolment ratio, secondary, both sexes (%)'
 'Gross enrolment ratio, secondary, female (%)'
 'Gross enrolment ratio, secondary, gender parity index (GPI)'
 'Gross enrolment ratio, secondary, male (%)'
 'Gross enrolment ratio, tertiary, both sexes (%)'
 'Gross enrolment ratio, tertiary, female (%)'
 'Gross enrolment ratio, tertiary, gender parity index (GPI)'
 'Gross enrolment ratio, tertiary, male (%)'
 'Gross enrolment ratio, upper secondary, both sexes (%)'
 'Gross enrolment ratio, upper secondary, gender parity index (GPI)'
 'Gross enrolment ratio, upper secondary, male (%)'
 'Gross intake ratio to Grade 1 of primary education, both sexes (%)'
 'Gross intake ratio to Grade 1 of primary education, female (%)'
 'Gross intake ratio to Grade 1 of primary education, gender parity index (GPI)'
 'Gross intake ratio to Grade 1 of primary education, male (%)'
 'Gross outbound enrolment ratio, all regions, both sexes (%)'
 'Inbound mobility rate, both sexes (%)'
 'Inbound mobility rate, female (%)' 'Inbound mobility rate, male (%)'
 'Lower secondary completion rate, both sexes (%)'
 'Lower secondary completion rate, female (%)'
 'Lower secondary completion rate, gender parity index (GPI)'
 'Lower secondary completion rate, male (%)'
 'Net enrolment rate, primary, both sexes (%)'
 'Net enrolment rate, primary, female (%)'
 'Net enrolment rate, primary, gender parity index (GPI)'
 'Net enrolment rate, primary, male (%)'
 'Net enrolment rate, secondary, both sexes (%)'
 'Net enrolment rate, secondary, female (%)'
 'Net enrolment rate, secondary, gender parity index (GPI)'
 'Net enrolment rate, secondary, male (%)'
 'Net intake rate to Grade 1 of primary education, both sexes (%)'
 'Net intake rate to Grade 1 of primary education, female (%)'
 'Net intake rate to Grade 1 of primary education, gender parity index (GPI)'
 'Net intake rate to Grade 1 of primary education, male (%)'
 'New entrants to Grade 1 of primary education, both sexes (number)'
 'New entrants to Grade 1 of primary education, female (number)'
 'New entrants to Grade 1 of primary education, percentage female (%)'
 'Outbound mobility ratio, all regions, both sexes (%)'
 'Out-of-school adolescents of lower secondary school age, both sexes (number)'
 'Out-of-school adolescents of lower secondary school age, female (number)'
 'Out-of-school adolescents of lower secondary school age, male (number)'
 'Out-of-school children of primary school age, both sexes (number)'
 'Out-of-school children of primary school age, female (number)'
 'Out-of-school children of primary school age, male (number)'
 'Out-of-school youth of upper secondary school age, both sexes (number)'
 'Out-of-school youth of upper secondary school age, female (number)'
 'Out-of-school youth of upper secondary school age, male (number)'
 'Percentage of all inbound internationally mobile students in tertiary education in the host country who are female, (%)'
 'Percentage of all students in tertiary education enrolled in ISCED 5, both sexes (%)'
 'Percentage of all students in tertiary education enrolled in ISCED 8, both sexes (%)'
 'Percentage of enrolment in pre-primary education in private institutions (%)'
 'Percentage of enrolment in primary education in private institutions (%)'
 'Percentage of enrolment in secondary education in private institutions (%)'
 'Percentage of female students in lower secondary education enrolled in general programmes, female (%)'
 'Percentage of female students in lower secondary education enrolled in vocational programmes, female (%)'
 'Percentage of female students in secondary education enrolled in general programmes, female (%)'
 'Percentage of female students in secondary education enrolled in vocational programmes, female (%)'
 'Percentage of female students in upper secondary education enrolled in general programmes, female (%)'
 'Percentage of female students in upper secondary education enrolled in vocational programmes, female (%)'
 'Percentage of female teachers in primary education who are trained, female (%)'
 'Percentage of male students in lower secondary education enrolled in general programmes, male (%)'
 'Percentage of male students in lower secondary education enrolled in vocational programmes, male (%)'
 'Percentage of male students in secondary education enrolled in general programmes, male (%)'
 'Percentage of male students in secondary education enrolled in vocational programmes, male (%)'
 'Percentage of male students in upper secondary education enrolled in general programmes, male (%)'
 'Percentage of male students in upper secondary education enrolled in vocational programmes, male (%)'
 'Percentage of male teachers in primary education who are trained, male (%)'
 'Percentage of repeaters in lower secondary education, all grades, gender parity index (GPI)'
 'Percentage of repeaters in lower secondary general education, all grades, both sexes (%)'
 'Percentage of repeaters in lower secondary general education, all grades, female (%)'
 'Percentage of repeaters in lower secondary general education, all grades, male (%)'
 'Percentage of repeaters in primary education, all grades, both sexes (%)'
 'Percentage of repeaters in primary education, all grades, female (%)'
 'Percentage of repeaters in primary education, all grades, gender parity index (GPI)'
 'Percentage of repeaters in primary education, all grades, male (%)'
 'Percentage of students in lower secondary education enrolled in general programmes, both sexes (%)'
 'Percentage of students in lower secondary education enrolled in vocational programmes, both sexes (%)'
 'Percentage of students in lower secondary education who are female (%)'
 'Percentage of students in lower secondary vocational education who are female (%)'
 'Percentage of students in post-secondary non-tertiary education who are female (%)'
 'Percentage of students in pre-primary education who are female (%)'
 'Percentage of students in primary education who are female (%)'
 'Percentage of students in secondary education enrolled in general programmes, both sexes (%)'
 'Percentage of students in secondary education enrolled in vocational programmes, both sexes (%)'
 'Percentage of students in secondary education who are female (%)'
 'Percentage of students in secondary general education who are female (%)'
 'Percentage of students in secondary vocational education who are female (%)'
 'Percentage of students in tertiary education who are female (%)'
 'Percentage of students in tertiary ISCED 5 programmes who are female (%)'
 'Percentage of students in tertiary ISCED 8 programmes who are female (%)'
 'Percentage of students in upper secondary education enrolled in general programmes, both sexes (%)'
 'Percentage of students in upper secondary education enrolled in vocational programmes, both sexes (%)'
 'Percentage of students in upper secondary education who are female (%)'
 'Percentage of students in upper secondary general education who are female (%)'
 'Percentage of students in upper secondary vocational education who are female (%)'
 'Percentage of teachers in lower secondary education who are female (%)'
 'Percentage of teachers in pre-primary education who are female (%)'
 'Percentage of teachers in primary education who are female (%)'
 'Percentage of teachers in primary education who are trained, both sexes (%)'
 'Percentage of teachers in secondary education who are female (%)'
 'Percentage of teachers in tertiary education who are female (%)'
 'Percentage of teachers in upper secondary education who are female (%)'
 'Primary completion rate, both sexes (%)'
 'Primary completion rate, female (%)' 'Primary completion rate, male (%)'
 'Pupil-teacher ratio in lower secondary education (headcount basis)'
 'Pupil-teacher ratio in pre-primary education (headcount basis)'
 'Pupil-teacher ratio in primary education (headcount basis)'
 'Pupil-teacher ratio in secondary education (headcount basis)'
 'Pupil-teacher ratio in upper secondary education (headcount basis)'
 'Rate of out-of-school adolescents of lower secondary school age, both sexes (%)'
 'Rate of out-of-school adolescents of lower secondary school age, female (%)'
 'Rate of out-of-school adolescents of lower secondary school age, male (%)'
 'Rate of out-of-school children of primary school age, both sexes (%)'
 'Rate of out-of-school children of primary school age, female (%)'
 'Rate of out-of-school children of primary school age, male (%)'
 'Rate of out-of-school youth of upper secondary school age, both sexes (%)'
 'Rate of out-of-school youth of upper secondary school age, female (%)'
 'Rate of out-of-school youth of upper secondary school age, male (%)'
 'Repeaters in lower secondary general education, all grades, both sexes (number)'
 'Repeaters in lower secondary general education, all grades, female (number)'
 'Repeaters in primary education, all grades, both sexes (number)'
 'Repeaters in primary education, all grades, female (number)'
 'School life expectancy, pre-primary, both sexes (years)'
 'School life expectancy, pre-primary, female (years)'
 'School life expectancy, pre-primary, gender parity index (GPI)'
 'School life expectancy, pre-primary, male (years)'
 'School life expectancy, primary and lower secondary (excluding repetition), both sexes (years)'
 'School life expectancy, primary and lower secondary (excluding repetition), female (years)'
 'School life expectancy, primary and lower secondary (excluding repetition), gender parity index (GPI)'
 'School life expectancy, primary and lower secondary (excluding repetition), male (years)'
 'School life expectancy, primary and lower secondary, both sexes (years)'
 'School life expectancy, primary and lower secondary, female (years)'
 'School life expectancy, primary and lower secondary, male (years)'
 'School life expectancy, primary and secondary, both sexes (years)'
 'School life expectancy, primary and secondary, female (years)'
 'School life expectancy, primary and secondary, gender parity index (GPI)'
 'School life expectancy, primary and secondary, male (years)'
 'School life expectancy, primary to tertiary, both sexes (years)'
 'School life expectancy, primary to tertiary, female (years)'
 'School life expectancy, primary to tertiary, male (years)'
 'School life expectancy, primary, both sexes (years)'
 'School life expectancy, primary, female (years)'
 'School life expectancy, primary, male (years)'
 'School life expectancy, tertiary, both sexes (years)'
 'School life expectancy, tertiary, female (years)'
 'School life expectancy, tertiary, gender parity index (GPI)'
 'School life expectancy, tertiary, male (years)'
 'Survival rate to the last grade of primary education, both sexes (%)'
 'Survival rate to the last grade of primary education, female (%)'
 'Survival rate to the last grade of primary education, male (%)'
 'Teachers in lower secondary education, both sexes (number)'
 'Teachers in lower secondary education, female (number)'
 'Teachers in pre-primary education, both sexes (number)'
 'Teachers in pre-primary education, female (number)'
 'Teachers in primary education, both sexes (number)'
 'Teachers in primary education, female (number)'
 'Teachers in secondary education, both sexes (number)'
 'Teachers in secondary education, female (number)'
 'Teachers in tertiary education programmes, both sexes (number)'
 'Teachers in tertiary education programmes, female (number)'
 'Teachers in upper secondary education, both sexes (number)'
 'Teachers in upper secondary education, female (number)'
 'Total inbound internationally mobile students, both sexes (number)'
 'Total inbound internationally mobile students, female (number)'
 'Total net enrolment rate, lower secondary, both sexes (%)'
 'Total net enrolment rate, lower secondary, female (%)'
 'Total net enrolment rate, lower secondary, gender parity index (GPI)'
 'Total net enrolment rate, lower secondary, male (%)'
 'Total net enrolment rate, primary, gender parity index (GPI)'
 'Youth illiterate population, 15-24 years, % female'
 'Youth literacy rate, population 15-24 years, both sexes (%)'
 'Youth literacy rate, population 15-24 years, female (%)'
 'Youth literacy rate, population 15-24 years, gender parity index (GPI)'
 'Youth literacy rate, population 15-24 years, male (%)'
 'Enrolment in Grade 7 of primary education, both sexes (number)'
 'Enrolment in Grade 7 of primary education, female (number)'
 'Elderly illiterate population, 65+ years, female (number)'
 'Elderly literacy rate, population 65+ years, both sexes (%)'
 'Enrolment in post-secondary non-tertiary education, private institutions, both sexes (number)'
 'Percentage of enrolment in post-secondary non-tertiary education in private institutions (%)'
 'Net enrolment rate, lower secondary, both sexes (%)'
 'Net enrolment rate, lower secondary, female (%)'
 'Net enrolment rate, lower secondary, male (%)'
 'Percentage of female teachers in lower secondary education who are trained, female (%)'
 'Percentage of female teachers in pre-primary education who are trained, female (%)'
 'Percentage of female teachers in secondary education who are trained, female (%)'
 'Percentage of female teachers in upper secondary education who are trained, female (%)'
 'Percentage of male teachers in lower secondary education who are trained, male (%)'
 'Percentage of male teachers in pre-primary education who are trained, male (%)'
 'Percentage of male teachers in secondary education who are trained, male (%)'
 'Percentage of male teachers in upper secondary education who are trained, male (%)'
 'Percentage of teachers in lower secondary education who are trained, both sexes (%)'
 'Percentage of teachers in pre-primary education who are trained, both sexes (%)'
 'Percentage of teachers in secondary education who are trained, both sexes (%)'
 'Percentage of teachers in upper secondary education who are trained, both sexes (%)'
 'Africa Dataset: Average number of pupils per mathematics textbook in primary education (number)'
 'Africa Dataset: Average number of pupils per reading textbook in primary education (number)'
 'Africa Dataset: Percentage of primary schools with access to electricity (%)'
 'Africa Dataset: Percentage of primary schools with access to potable water (%)'
 'Africa Dataset: Percentage of primary schools with no information on electricity (%)'

In [559]:
df_data_exploitable = df_data_exploitable[
    df_data_exploitable["Indicator Name"].isin(indicators_to_keep_final)
]

### <span style="color:pink">Mon DF df_data_exploitable est refiltré sur les indicateurs qualitatif
### <span style="color:pink"> Je vérifie la proportion de données présentes par année, pour les années restantes (2010, 2011, 2012, 2013, 2015), lesquelles sont encore très vides

In [560]:
prop_non_missing_per_year_final = (
    df_data_exploitable[years_cols]
    .notna()
    .sum()
    / df_data_exploitable.shape[0]
)

print(prop_non_missing_per_year_final.sort_values())

2015    0.188075
2010    0.704173
2013    0.709428
2012    0.717634
2011    0.718842
dtype: float64

### <span style="color:pink">Je garde les années où plus de 50 % des indicateurs gardés ont des valeurs

In [561]:
years_to_keep_final = prop_non_missing_per_year_final[
    prop_non_missing_per_year_final > 0.5
].index.tolist()

print(years_to_keep_final)

['2010', '2011', '2012', '2013']

In [562]:
cols_to_keep_final = [
    "Country Name", "Country Code", "Indicator Name", "Indicator Code"
] + years_to_keep_final

df_data_exploitable = df_data_exploitable[cols_to_keep_final]

print(df_data_exploitable.shape)
print(df_data_exploitable.head())

(106755, 8)
   Country Name Country Code  \
4    Arab World          ARB
5    Arab World          ARB
6    Arab World          ARB
7    Arab World          ARB
12   Arab World          ARB

                                                              Indicator Name  \
4                       Adjusted net enrolment rate, primary, both sexes (%)
5                           Adjusted net enrolment rate, primary, female (%)
6            Adjusted net enrolment rate, primary, gender parity index (GPI)
7                             Adjusted net enrolment rate, primary, male (%)
12  Adjusted net intake rate to Grade 1 of primary education, both sexes (%)

    Indicator Code       2010       2011       2012       2013
4      SE.PRM.TENR  85.211998  85.245140  86.101669  85.511940
5   SE.PRM.TENR.FE  82.871651  82.861389  84.401413  83.914032
6   UIS.NERA.1.GPI   0.947620   0.946700   0.962080   0.964090
7   SE.PRM.TENR.MA  87.452583  87.526520  87.728172  87.039879
12      UIS.NIRA.1  76.197044  76.474968  77.319366  76.566711

### <span style="color:pink">J'ai encore re filtré mon df_data_exploitable, il est beaucoup plus petit avec les indicateurs les plus riches en données et les années où on a suffisamment de données pour la suite

In [563]:
df_data_exploitable.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,85.211998,85.245140,86.101669,85.511940
5,Arab World,ARB,"Adjusted net enrolment rate, primary, female (%)",SE.PRM.TENR.FE,82.871651,82.861389,84.401413,83.914032
6,Arab World,ARB,"Adjusted net enrolment rate, primary, gender parity index (GPI)",UIS.NERA.1.GPI,0.947620,0.946700,0.962080,0.964090
7,Arab World,ARB,"Adjusted net enrolment rate, primary, male (%)",SE.PRM.TENR.MA,87.452583,87.526520,87.728172,87.039879
12,Arab World,ARB,"Adjusted net intake rate to Grade 1 of primary education, both sexes (%)",UIS.NIRA.1,76.197044,76.474968,77.319366,76.566711

## Identifiez les indicateurs particulièrement riches en données en calculant un dataframe contenant par indicateur et par année, le nombre de pays avec une valeur renseignée.
## Triez ce dataframe par ordre décroissant de nombre de pays avec une valeur renseignée, afin d’obtenir les indicateurs les plus riches en données dans l’ensemble. 
## Aidez-vous de ce dataframe pour sélectionner parmi les indicateurs les plus riches, une quinzaine qui font sens par rapport à la problématique métier

### <span style="color:pink">Pour m'aider, je me remémore le contexte, ce que veut Mark c'est explorer les pays avec un fort potentiel de clients, donc des pays où beaucoup de jeunes sont scolarisés, où la population est jeune et nombreuse, où l’éducation est un sujet d’investissement, où l’économie permet à des gens de payer pour des services EdTech.
### <span style="color:pink">En fait pour répondre: évaluer l’évolution possible de ce potentiel, donc regarder des indicateurs sur plusieurs années

### <span style="color:pink">Je vais compter le nombre de pays avec une valeur renseignée, par indicateur et année

### <span style="color:pink">Avant cela, je vais transformer ce tableau pour qu'il soit déja plus claire a la lecture en format long

In [564]:
df_data_long = df_data_exploitable.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='Year',
    value_name='Value'
)

In [565]:
df_data_long.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Arab World,ARB,"Adjusted net enrolment rate, primary, both sexes (%)",SE.PRM.TENR,2010,85.211998
1,Arab World,ARB,"Adjusted net enrolment rate, primary, female (%)",SE.PRM.TENR.FE,2010,82.871651
2,Arab World,ARB,"Adjusted net enrolment rate, primary, gender parity index (GPI)",UIS.NERA.1.GPI,2010,0.947620
3,Arab World,ARB,"Adjusted net enrolment rate, primary, male (%)",SE.PRM.TENR.MA,2010,87.452583
4,Arab World,ARB,"Adjusted net intake rate to Grade 1 of primary education, both sexes (%)",UIS.NIRA.1,2010,76.197044

### <span style="color:pink">Je vais compter combien de pays ont une valeur renseignée par indicateur et par année 
### <span style="color:pink">Pour cela, je retire d’abord les valeurs NaN puis je regroupe par indicateur et année + compter le nombre de pays distincts

In [566]:
df_notnull = df_data_long.dropna(subset=['Value'])

In [567]:
count_per_indicator_year = (
    df_notnull
    .groupby(['Indicator Name', 'Year'])
    .agg(Countries_With_Data=('Country Name', 'nunique'))
    .reset_index()
)
count_per_indicator_year.head()

,Indicator Name,Year,Countries_With_Data
0,"Adjusted net enrolment rate, lower secondary, both sexes (%)",2010,106
1,"Adjusted net enrolment rate, lower secondary, both sexes (%)",2011,107
2,"Adjusted net enrolment rate, lower secondary, both sexes (%)",2012,102
3,"Adjusted net enrolment rate, lower secondary, both sexes (%)",2013,99
4,"Adjusted net enrolment rate, lower secondary, female (%)",2010,103

### <span style="color:pink">Je calcule la moyenne par indicateurs

In [ ]:
mean_countries_per_indicator = (
    count_per_indicator_year
    .groupby('Indicator Name')['Countries_With_Data']
    .mean()
    .reset_index()
    .rename(columns={'Countries_With_Data': 'Mean_Countries_With_Data'})
    .sort_values('Mean_Countries_With_Data', ascending=False)
)
print(mean_countries_per_indicator.head(20))

### <span style="color:pink">J'obtiens ces 20 indicateurs les plus riches

### <span style="color:pink">Pour en séléctionner 15 pertinents je me dit que je dois trouver, cela: 
### <span style="color:pink">Démographie jeune: potentiels clients d’Academy
### <span style="color:pink">Taux de scolarisation: marché déjà en place ou en développement
### <span style="color:pink">Dépenses éducation: capacité du marché à payer pour s'éduquer
### <span style="color:pink">Taux d’alphabétisation: indicateur clé pour la EdTech
### <span style="color:pink">Connectivité numérique: indispensable pour e-learning
### <span style="color:pink">Qualité du système éducatif: peut indiquer une demande pour du complément en ligne
### <span style="color:pink">Accès au supérieur: marché typique de la EdTech

### <span style="color:pink">Je choisi de garder les indicateurs suivants:"Gross enrollment ratio, tertiary, both sexes (%)","Gross enrollment ratio, secondary, both sexes (%)", "Gross enrollment ratio, primary, both sexes (%)", "Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)", "Government expenditure on education, total (% of GDP)","Expenditure per student, secondary (% of GDP per capita)","Expenditure per student, tertiary (% of GDP per capita)","Pupil-teacher ratio, secondary", "Pupil-teacher ratio, tertiary", "Population ages 15-24, total", "Individuals using the Internet (% of population)","Mobile cellular subscriptions (per 100 people)", "Transition rate to secondary education (%)","Transition rate to tertiary education (%)"

# <span style="color:blue">ÉTAPE 3: CONSOLIDER VOS RÉSULTATS DANS UN DF</span>
# Instructions 
## Filtrez votre dataframe Data pour ne garder que les indicateurs, pays et années que vous avez jugé pertinents sur la base de vos analyses précédentes.
## Agrégez ce dataframe pour en construire un nouveau : chaque ligne doit correspondre à un pays et chaque colonne doit correspondre à un indicateur

In [568]:
indicateurs_a_garder = [
    "Gross enrollment ratio, tertiary, both sexes (%)",
    "Gross enrollment ratio, secondary, both sexes (%)",
    "Gross enrollment ratio, primary, both sexes (%)",
    "Literacy rate, adult total (% of people ages 15 and above)",
    "Literacy rate, youth total (% of people ages 15-24)",
    "Government expenditure on education, total (% of GDP)",
    "Expenditure per student, secondary (% of GDP per capita)",
    "Expenditure per student, tertiary (% of GDP per capita)",
    "Pupil-teacher ratio, secondary",
    "Pupil-teacher ratio, tertiary",
    "Population ages 15-24, total",
    "Individuals using the Internet (% of population)",
    "Mobile cellular subscriptions (per 100 people)",
    "Transition rate to secondary education (%)",
    "Transition rate to tertiary education (%)"
]

In [572]:
pd.set_option("display.max_colwidth", None)

indicateurs_uniques = sorted(df_data_exploitable["Indicator Name"].unique())

for i, ind in enumerate(indicateurs_uniques, 1):
    print(f"{i:3}. {ind}")

  1. Adjusted net enrolment rate, lower secondary, both sexes (%)
  2. Adjusted net enrolment rate, lower secondary, female (%)
  3. Adjusted net enrolment rate, lower secondary, gender parity index (GPI)
  4. Adjusted net enrolment rate, lower secondary, male (%)
  5. Adjusted net enrolment rate, primary, both sexes (%)
  6. Adjusted net enrolment rate, primary, female (%)
  7. Adjusted net enrolment rate, primary, gender parity index (GPI)
  8. Adjusted net enrolment rate, primary, male (%)
  9. Adjusted net enrolment rate, upper secondary, both sexes (%)
 10. Adjusted net enrolment rate, upper secondary, female (%)
 11. Adjusted net enrolment rate, upper secondary, gender parity index (GPI)
 12. Adjusted net enrolment rate, upper secondary, male (%)
 13. Adjusted net intake rate to Grade 1 of primary education, both sexes (%)
 14. Adjusted net intake rate to Grade 1 of primary education, female (%)
 15. Adjusted net intake rate to Grade 1 of primary education, gender parity index (GPI)
 16. Adjusted net intake rate to Grade 1 of primary education, male (%)
 17. Adult illiterate population, 15+ years, male (number)
 18. Adult literacy rate, population 15+ years, both sexes (%)
 19. Adult literacy rate, population 15+ years, female (%)
 20. Adult literacy rate, population 15+ years, male (%)
 21. Africa Dataset: Average number of grades per multigrade class in primary schools (number of grades)
 22. Africa Dataset: Average number of pupils per mathematics textbook in Grade 1 of primary education (number)
 23. Africa Dataset: Average number of pupils per mathematics textbook in Grade 2 of primary education (number)
 24. Africa Dataset: Average number of pupils per mathematics textbook in Grade 3 of primary education (number)
 25. Africa Dataset: Average number of pupils per mathematics textbook in Grade 4 of primary education (number)
 26. Africa Dataset: Average number of pupils per mathematics textbook in Grade 5 of primary education (number)
 27. Africa Dataset: Average number of pupils per mathematics textbook in Grade 6 of primary education (number)
 28. Africa Dataset: Average number of pupils per mathematics textbook in primary education (number)
 29. Africa Dataset: Average number of pupils per reading textbook in Grade 1 of primary education (number)
 30. Africa Dataset: Average number of pupils per reading textbook in Grade 2 of primary education (number)
 31. Africa Dataset: Average number of pupils per reading textbook in Grade 3 of primary education (number)
 32. Africa Dataset: Average number of pupils per reading textbook in Grade 4 of primary education (number)
 33. Africa Dataset: Average number of pupils per reading textbook in Grade 5 of primary education (number)
 34. Africa Dataset: Average number of pupils per reading textbook in Grade 6 of primary education (number)
 35. Africa Dataset: Average number of pupils per reading textbook in primary education (number)
 36. Africa Dataset: Average size of classes in primary schools (number of pupils)
 37. Africa Dataset: Average size of multigrade classes in primary schools (number of pupils)
 38. Africa Dataset: Average size of single grade classes in Grade 1 of primary schools (number of pupils)
 39. Africa Dataset: Average size of single grade classes in Grade 2 of primary schools (number of pupils)
 40. Africa Dataset: Average size of single grade classes in Grade 3 of primary schools (number of pupils)
 41. Africa Dataset: Average size of single grade classes in Grade 4 of primary schools (number of pupils)
 42. Africa Dataset: Average size of single grade classes in Grade 5 of primary schools (number of pupils)
 43. Africa Dataset: Average size of single grade classes in Grade 6 of primary schools (number of pupils)
 44. Africa Dataset: Average size of single grade classes in primary schools (number of pupils)
 45. Africa Dataset: Graduates from accredited pre-service lower secondary teacher training programmes, both sexes (number)
 46. Africa Dataset: Graduates from accredited pre-service lower secondary teacher training programmes, female (number)
 47. Africa Dataset: Graduates from accredited pre-service primary or secondary teacher training programmes, both sexes (number)
 48. Africa Dataset: Graduates from accredited pre-service primary or secondary teacher training programmes, female (number)
 49. Africa Dataset: Graduates from accredited pre-service primary teacher training programmes, both sexes (number)
 50. Africa Dataset: Graduates from accredited pre-service primary teacher training programmes, female (number)
 51. Africa Dataset: Percentage of female newly recruited teachers in primary education who are trained, female (%)
 52. Africa Dataset: Percentage of female teachers in primary education who are newly recruited, female (%)
 53. Africa Dataset: Percentage of lower secondary schools with access to electricity (%)
 54. Africa Dataset: Percentage of lower secondary schools with access to potable water (%)
 55. Africa Dataset: Percentage of lower secondary schools with mixed-sex toilets (%)
 56. Africa Dataset: Percentage of lower secondary schools with single-sex toilets (%)
 57. Africa Dataset: Percentage of lower secondary schools with toilets (%)
 58. Africa Dataset: Percentage of lower secondary schools without access to electricity (%)
 59. Africa Dataset: Percentage of lower secondary schools without access to potable water (%)
 60. Africa Dataset: Percentage of lower secondary schools without toilets (%)
 61. Africa Dataset: Percentage of male newly recruited teachers in primary education who are trained, male (%)
 62. Africa Dataset: Percentage of male teachers in primary education who are newly recruited, male (%)
 63. Africa Dataset: Percentage of newly recruited teachers in primary education who are female (%)
 64. Africa Dataset: Percentage of newly recruited teachers in primary education who are trained, both sexes (%)
 65. Africa Dataset: Percentage of primary pupils in multigrade classes (%)
 66. Africa Dataset: Percentage of primary schools with access to electricity (%)
 67. Africa Dataset: Percentage of primary schools with access to potable water (%)
 68. Africa Dataset: Percentage of primary schools with mixed-sex toilets (%)
 69. Africa Dataset: Percentage of primary schools with no information on electricity (%)
 70. Africa Dataset: Percentage of primary schools with no information on potable water (%)
 71. Africa Dataset: Percentage of primary schools with no information on toilets (%)
 72. Africa Dataset: Percentage of primary schools with single-sex toilets (%)
 73. Africa Dataset: Percentage of primary schools with toilets (%)
 74. Africa Dataset: Percentage of primary schools without access to electricity (%)
 75. Africa Dataset: Percentage of primary schools without access to potable water (%)
 76. Africa Dataset: Percentage of primary schools without toilets (%)
 77. Africa Dataset: Percentage of teachers in primary education who are newly recruited, both sexes (%)
 78. Africa Dataset: Ratio of teacher training graduates to teachers in primary education, both sexes
 79. Africa Dataset: Ratio of teacher training graduates to teachers in primary education, female
 80. Africa Dataset: Ratio of teacher training graduates to teachers in primary education, male
 81. Africa Dataset: Teacher attrition rate from public primary education, both sexes (%)
 82. Africa Dataset: Teacher attrition rate from public primary education, male (%)
 83. Annual statutory teacher salaries in public institutions in USD. Lower Secondary. 10 years of experience
 84. Annual statutory teacher salaries in public institutions in USD. Lower Secondary. 15 years of experience
 85. Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Starting salary
 86. Annual statutory teacher salaries in public institutions in USD. Lower Secondary. Top of scale
 87. Annual statutory teacher salaries in public institutions in USD. Pre-Primary. 10 years of experience
 88. Annual statutory teacher salaries in public institutions in USD. Pre-Primary. 15 years of experience
 89. Annual statutory teacher salaries in public institutions in USD. Pre-Primary. Starting salary
 90. Annual statutory teacher salaries in public institutions in USD. Pre-Primary. Top of scale
 91. Annual statutory teacher salaries in public institutions in USD. Primary. 10 years of experience
 92. Annual statutory teacher salaries in public institutions in USD. Primary. 15 years of experience
 93. Annual statutory teacher salaries in public institutions in USD. Primary. Starting salary
 94. Annual statutory teacher salaries in public institutions in USD. Primary. Top of scale
 95. Annual statutory teacher salaries in public institutions in USD. Upper Secondary. 10 years of experience
 96. Annual statutory teacher salaries in public institutions in USD. Upper Secondary. 15 years of experience
 97. Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Starting salary
 98. Annual statutory teacher salaries in public institutions in USD. Upper Secondary. Top of scale
 99. Cumulative drop-out rate to the last grade of lower secondary general education, both sexes (%)
100. Cumulative drop-out rate to the last grade of lower secondary general education, female (%)
101. Cumulative drop-out rate to the last grade of lower secondary general education, male (%)
102. Cumulative drop-out rate to the last grade of primary education, both sexes (%)
103. Cumulative drop-out rate to the last grade of primary education, female (%)
104. Cumulative drop-out rate to the last grade of primary education, male (%)
105. Drop-out rate from Grade 1 of lower secondary general education, both sexes (%)
106. Drop-out rate from Grade 1 of lower secondary general education, female (%)
107. Drop-out rate from Grade 1 of lower secondary general education, male (%)
108. Drop-out rate from Grade 1 of primary education, both sexes (%)
109. Drop-out rate from Grade 1 of primary education, female (%)
110. Drop-out rate from Grade 1 of primary education, male (%)
111. Drop-out rate from Grade 2 of lower secondary general education, both sexes (%)
112. Drop-out rate from Grade 2 of lower secondary general education, female (%)
113. Drop-out rate from Grade 2 of lower secondary general education, male (%)
114. Drop-out rate from Grade 2 of primary education, both sexes (%)
115. Drop-out rate from Grade 2 of primary education, female (%)
116. Drop-out rate from Grade 2 of primary education, male (%)
117. Drop-out rate from Grade 3 of lower secondary general education, both sexes (%)
118. Drop-out rate from Grade 3 of lower secondary general education, female (%)
119. Drop-out rate from Grade 3 of lower secondary general education, male (%)
120. Drop-out rate from Grade 3 of primary education, both sexes (%)
121. Drop-out rate from Grade 3 of primary education, female (%)
122. Drop-out rate from Grade 3 of primary education, male (%)
123. Drop-out rate from Grade 4 of lower secondary general education, both sexes (%)
124. Drop-out rate from Grade 4 of lower secondary general education, female (%)
125. Drop-out rate from Grade 4 of lower secondary general education, male (%)
126. Drop-out rate from Grade 4 of primary education, both sexes (%)
127. Drop-out rate from Grade 4 of primary education, female (%)
128. Drop-out rate from Grade 4 of primary education, male (%)
129. Drop-out rate from Grade 5 of lower secondary general education, both sexes (%)
130. Drop-out rate from Grade 5 of lower secondary general education, female (%)
131. Drop-out rate from Grade 5 of lower secondary general education, male (%)
132. Drop-out rate from Grade 5 of primary education, both sexes (%)
133. Drop-out rate from Grade 5 of primary education, female (%)
134. Drop-out rate from Grade 5 of primary education, male (%)
135. Drop-out rate from Grade 6 of primary education, both sexes (%)
136. Drop-out rate from Grade 6 of primary education, female (%)
137. Drop-out rate from Grade 6 of primary education, male (%)
138. Early school leavers from primary education, both sexes (number)
139. Early school leavers from primary education, female (number)
140. Early school leavers from primary education, male (number)
141. Effective transition rate from primary to lower secondary general education, both sexes (%)
142. Effective transition rate from primary to lower secondary general education, female (%)
143. Effective transition rate from primary to lower secondary general education, male (%)
144. Elderly illiterate population, 65+ years, female (number)
145. Elderly literacy rate, population 65+ years, both sexes (%)
146. Elderly literacy rate, population 65+ years, gender parity index (GPI)
147. Enrolment in Grade 1 of lower secondary general education, both sexes (number)
148. Enrolment in Grade 1 of lower secondary general education, female (number)
149. Enrolment in Grade 1 of primary education, both sexes (number)
150. Enrolment in Grade 1 of primary education, female (number)
151. Enrolment in Grade 2 of lower secondary general education, both sexes (number)
152. Enrolment in Grade 2 of lower secondary general education, female (number)
153. Enrolment in Grade 2 of primary education, both sexes (number)
154. Enrolment in Grade 2 of primary education, female (number)
155. Enrolment in Grade 3 of lower secondary general education, both sexes (number)
156. Enrolment in Grade 3 of lower secondary general education, female (number)
157. Enrolment in Grade 3 of primary education, both sexes (number)
158. Enrolment in Grade 3 of primary education, female (number)
159. Enrolment in Grade 4 of lower secondary general education, both sexes (number)
160. Enrolment in Grade 4 of lower secondary general education, female (number)
161. Enrolment in Grade 4 of primary education, both sexes (number)
162. Enrolment in Grade 4 of primary education, female (number)
163. Enrolment in Grade 5 of lower secondary general education, both sexes (number)
164. Enrolment in Grade 5 of lower secondary general education, female (number)
165. Enrolment in Grade 5 of primary education, both sexes (number)
166. Enrolment in Grade 5 of primary education, female (number)
167. Enrolment in Grade 6 of lower secondary general education, both sexes (number)
168. Enrolment in Grade 6 of lower secondary general education, female (number)
169. Enrolment in Grade 6 of primary education, both sexes (number)
170. Enrolment in Grade 6 of primary education, female (number)
171. Enrolment in Grade 7 of primary education, both sexes (number)
172. Enrolment in Grade 7 of primary education, female (number)
173. Enrolment in early childhood education, both sexes (number)
174. Enrolment in early childhood education, female (number)
175. Enrolment in early childhood education, private institutions, both sexes (number)
176. Enrolment in early childhood education, private institutions, female (number)
177. Enrolment in early childhood education, public institutions, both sexes (number)
178. Enrolment in early childhood educational development programmes, both sexes (number)
179. Enrolment in early childhood educational development programmes, female (number)
180. Enrolment in early childhood educational development programmes, private institutions, both sexes (number)
181. Enrolment in early childhood educational development programmes, private institutions, female (number)
182. Enrolment in early childhood educational development programmes, public institutions, both sexes (number)
183. Enrolment in early childhood educational development programmes, public institutions, female (number)
184. Enrolment in lower secondary education, both sexes (number)
185. Enrolment in lower secondary education, female (number)
186. Enrolment in lower secondary education, private institutions, both sexes (number)
187. Enrolment in lower secondary education, private institutions, female (number)
188. Enrolment in lower secondary education, public institutions, both sexes (number)
189. Enrolment in lower secondary general education, Grade unspecified, both sexes (number)
190. Enrolment in lower secondary general education, Grade unspecified, female (number)
191. Enrolment in lower secondary general, both sexes (number)
192. Enrolment in lower secondary general, female (number)
193. Enrolment in lower secondary vocational, both sexes (number)
194. Enrolment in lower secondary vocational, female (number)
195. Enrolment in post-secondary non-tertiary education, both sexes (number)
196. Enrolment in post-secondary non-tertiary education, female (number)
197. Enrolment in post-secondary non-tertiary education, private institutions, both sexes (number)
198. Enrolment in post-secondary non-tertiary education, private institutions, female (number)
199. Enrolment in pre-primary education, both sexes (number)
200. Enrolment in pre-primary education, female (number)
201. Enrolment in pre-primary education, private institutions, both sexes (number)
202. Enrolment in pre-primary education, private institutions, female (number)
203. Enrolment in pre-primary education, public institutions, both sexes (number)
204. Enrolment in pre-primary education, public institutions, female (number)
205. Enrolment in primary education, both sexes (number)
206. Enrolment in primary education, female (number)
207. Enrolment in primary education, private institutions, both sexes (number)
208. Enrolment in primary education, private institutions, female (number)
209. Enrolment in secondary education, both sexes (number)
210. Enrolment in secondary education, female (number)
211. Enrolment in secondary education, private institutions, both sexes (number)
212. Enrolment in secondary education, private institutions, female (number)
213. Enrolment in secondary general, both sexes (number)
214. Enrolment in secondary general, female (number)
215. Enrolment in secondary vocational, both sexes (number)
216. Enrolment in secondary vocational, female (number)
217. Enrolment in tertiary education per 100,000 inhabitants, both sexes
218. Enrolment in tertiary education per 100,000 inhabitants, female
219. Enrolment in tertiary education per 100,000 inhabitants, male
220. Enrolment in tertiary education, ISCED 5 programmes, both sexes (number)
221. Enrolment in tertiary education, ISCED 5 programmes, female (number)
222. Enrolment in tertiary education, ISCED 6 programmes, both sexes (number)
223. Enrolment in tertiary education, ISCED 6 programmes, female (number)
224. Enrolment in tertiary education, ISCED 7 programmes, both sexes (number)
225. Enrolment in tertiary education, ISCED 7 programmes, female (number)
226. Enrolment in tertiary education, ISCED 8 programmes, both sexes (number)
227. Enrolment in tertiary education, ISCED 8 programmes, female (number)
228. Enrolment in tertiary education, all programmes, both sexes (number)
229. Enrolment in tertiary education, all programmes, female (number)
230. Enrolment in upper secondary education, both sexes (number)
231. Enrolment in upper secondary education, female (number)
232. Enrolment in upper secondary education, private institutions, both sexes (number)
233. Enrolment in upper secondary education, private institutions, female (number)
234. Enrolment in upper secondary education, public institutions, both sexes (number)
235. Enrolment in upper secondary general, both sexes (number)
236. Enrolment in upper secondary general, female (number)
237. Enrolment in upper secondary vocational, both sexes (number)
238. Enrolment in upper secondary vocational, female (number)
239. Graduates from ISCED 5 programmes in tertiary education, both sexes (number)
240. Graduates from ISCED 5 programmes in tertiary education, female (number)
241. Graduates from ISCED 6 programmes in tertiary education, both sexes (number)
242. Graduates from ISCED 6 programmes in tertiary education, female (number)

### <span style="color:pink">Ici j'ai concerver les 15 indicateurs qui nous intéresse puis filter mon DF avec ces 15 indicateurs restants

In [570]:
index_a_garder = [352, 772, 774, 773, 351,
                  204, 561, 205, 190, 191,
                  269, 272, 271, 270, 212]

### <span style="color:pink">Je vais maintenant le passer en long

In [ ]:
Official entrance age to lower secondary education (years), Teachers in upper secondary education, female (number),